.success-story {
    max-height: 300px;
    background-image: url(/img/dot-map2.svg);
    background-size: 90%;
    background-position: 50% 30%;
    background-repeat: no-repeat;
    text-align: center;
    padding: 2rem 0 2rem;

    @include tablet {
        max-height: 400px;
        height: 400px;
        background-size: 60%;
    }

    @include desktop {
        padding: 4rem 0 0;
        max-height: 900px;
        height: 900px;
        background-size: 1116px;
    }

    .container {
        position: relative;

        .text-wrapper{

            @include desktop {
                margin: 2rem 0;
            }
        }

        .grid-container {
            display: grid;
            grid-template-columns:  auto auto auto;
            gap: 1rem;
            
            .grid-box {
                h1 {
                    @include desktop {
                        font-size: 100px;
                        margin: 0;
                    }
                }

                p {
                    font-size: 10px;
                    
                    @include tablet {
                        padding: 0 1rem; // to push text to center.                        
                    }

                    @include desktop {
                        font-size: 18;
                        font-weight: 600;
                    }
                }
            }
        }
    }

    .image-wrapper {
        display: none;

        @include tablet {
            display: block;
            position: absolute;
            bottom: -160%;
            left: 50%;
            transform: translateX(-50%);
        }

        @include desktop {
            bottom: -240%;
        }

        img {
            max-width: 90%;

            @include tablet {
                max-width: 600px;
            }

            @include desktop {
                max-width: 970px;
            }
        }
    }
}