#contact-us {
    .container {
        position: relative;

        .form-wrapper {
            background-color: var(--color-light) !important;
            margin-bottom: 2rem;

            @include tablet {
                padding-bottom: 3rem;
            }

            @include desktop {
                position: absolute;
                z-index: 100;
                top: 14rem;
                left: 50%;
                transform: translateX(-50%);
                width: 100%;
                padding-bottom: 4rem;
                margin-bottom: 0;
            }
            
            .form-header {
                margin-bottom: -3rem;

                @include desktop {
                    margin-bottom: 0;
                    padding: 4rem 0 0;
                }

                h6 {
                    @include desktop {
                    }
                }

                p, h2 {
                    display: none;

                    @include desktop {
                        display: block;
                        padding: 0 28%;
                    }
                }
                
                p {
                    @include desktop {
                        font-size: 14px;
                    }
                }
            }
            
            form {
                background-color: var(--color-light) !important;
                display: grid;
                grid-template-columns: auto;
                gap: 1rem;
                border: none;

                @include tablet {
                    grid-template-columns: 1fr 1fr;
                    align-items: last baseline;
                }

                button {
                    background-color: var(--color-primary);
                    color: var(--color-secondary);
                    
                    @include tablet {
                        position: absolute;
                        bottom: 2rem;
                        left: 50%;
                        transform: translateX(-50%);

                    }
                }

                .form-success {
                    position: absolute;
                    top: 2.5rem;

                    @include tablet {
                        left: 50%;
                        transform: translateX(-50%);
                        top: 2.5rem;
                    }

                    @include desktop {
                        top: 16rem;
                    }
                }
            }
        }
    }
}
