.contact {
    position: relative;

    .map-wrapper {
        padding: 0;
        .google-map {
            height: 20rem;
            width: 100%;
            opacity: 40%;
    
            @include tablet{
                height: 25rem;
            }
    
            @include desktop{
                height: 30rem;
            }
        }
    }

    .container {
        position: absolute;
        top: 25%; //desktop
        left: 50%;
        transform: translateX(-50%);
        
        .form-wrapper {            
            box-shadow: 0 10px 8px 5px var(--color-gray);
            padding: 2rem;


            @include desktop {
                max-width: 100%;
                padding: 4rem 2rem 2rem;
                margin: 0 auto;
            }

            .text-wrapper {
                text-align: center;

            }
    
            .form-content {
                display: grid;
                grid-template-columns: auto;
    
                border: none;
    
                @include desktop {
                    grid-template-columns: auto auto;
                    gap: 1rem;
                }
            }
        }
    }

}

.contact-brands {

    @include desktop {
        padding: 4rem 0 0;
    }
}


