<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="f3f61c85-4751-4932-aca6-0cb99d597ad7" Alias="callbackRequests" Level="3">
  <Info>
    <Name>Callback requests</Name>
    <Icon>icon-documents</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>ContactFormRequests/Callbacks</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="aea3535f-7b69-4780-8cc9-cdc1c18e3da5" SortOrder="0">callbackRequestItem</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>