<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="59b47f11-6250-4ac1-91b4-d6fac45ca11e" Alias="contactMessages" Level="3">
  <Info>
    <Name>Contact Messages</Name>
    <Icon>icon-documents</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>ContactFormRequests/Contact+Message</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="fe2f2724-cdf8-4910-9476-a3708df658d2" SortOrder="0">contactMessageItem</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>