<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="7a8552cd-f0d8-4382-a68b-8f23868a473e" Alias="modularPage" Level="2">
  <Info>
    <Name>Modular Page</Name>
    <Icon>icon-notepad</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions />
    <DefaultTemplate>modularPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="c136fb42-4330-4dde-8b92-088887b5eb21">modularPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="7a8552cd-f0d8-4382-a68b-8f23868a473e" SortOrder="0">modularPage</ContentType>
    <ContentType Key="3c78d7bc-11ce-46eb-8314-bc88c9161757" SortOrder="1">serviceListPage</ContentType>
    <ContentType Key="cb20b6b9-189d-4526-b906-77a74669f1ab" SortOrder="2">projectListPage</ContentType>
    <ContentType Key="adfc7f67-4a57-49a8-8425-5b26d0d19356" SortOrder="3">contactPage</ContentType>
    <ContentType Key="8d267e16-d243-49c8-8a14-804c0e807ea6" SortOrder="4">staffListPage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>bddd5038-4657-4ba1-8401-0999bcecaba6</Key>
      <Name>Contact Info Block Editor</Name>
      <Alias>contactInfoBlockEditor</Alias>
      <Definition>4f317dbc-278e-45e9-ab26-f7197e7f58b8</Definition>
      <Type>Umbraco.BlockGrid</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content/contactInfoContent">Contact Info Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>817b90e2-6316-4f51-9bee-57ff19c44eaf</Key>
      <Name>Page Layout</Name>
      <Alias>pageLayout</Alias>
      <Definition>702706ae-9423-4c97-97a7-c844c8078928</Definition>
      <Type>Umbraco.BlockGrid</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content/layout">Layout</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>15af7730-7e4e-4bb1-9912-e915ccc118fd</Key>
      <Name>Page Title</Name>
      <Alias>pageTitle</Alias>
      <Definition>c6bac0dd-4ab9-45b1-8e30-e4b619ee5da3</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>0f1fdd04-0e7c-4612-a282-94c0d5d9033f</Key>
      <Caption>Contact Info Content</Caption>
      <Alias>content/contactInfoContent</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Key>bdd04bc2-973f-4e78-8c36-56f379a8dd08</Key>
      <Caption>Layout</Caption>
      <Alias>content/layout</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>c3d2d1f7-d526-4d9b-b648-05a70b4c3f1d</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>