<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="0ffa4c65-4077-433e-9d90-003276079acc" Alias="onlineSupportRequests" Level="3">
  <Info>
    <Name>Online Support Requests</Name>
    <Icon>icon-documents</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>ContactFormRequests/Online+Support</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="731bb1a7-f1c3-47e6-a7e2-86f2306498b2" SortOrder="0">onlineSupportItem</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>