<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="6b339b39-ddb9-4203-b2a8-732041c22891" Alias="partnerBrands" Level="3">
  <Info>
    <Name>PartnerBrands</Name>
    <Icon>icon-link</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>for listing up partner brands to be displayed as elements</Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages/Static</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="783ce691-7111-4714-a453-fef73c69e6f7" SortOrder="0">partnerBrandItemTemplate</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>