.breadcrumbs {
    display: none; // totally removed from mobile design.

    @include tablet {
        display: block;
    }

    .container-fluid {
        position: relative;
        max-height: 10rem;
        padding: 2rem 0;
        text-align: center;
        
        .globe-left, .globe-right {
            position: absolute;
            max-height: 100%;
    
            img {
                width: auto;
                max-height: 3rem;

                @include tablet{
                    max-height: 5rem;
                }

                @include desktop {
                    max-height: 8rem;
                }
            }
        }
        
        .globe-left {
            bottom: 0;
            left: 0;
        }
    
        .globe-right {  
            top: 0;
            right: 0;
        }
    }
}