.contact-details {
    padding: 2rem 0 0 0;
    @include desktop {
        padding: 4rem 0 0 0;
    }
    .container {
        @include desktop {
            display: flex;
            justify-content: space-between;
        }
        
        .image-wrapper {
            background-image: url(/img/dottedBg-1.svg);
            background-repeat: no-repeat;
            background-size: 75%;
            background-position: bottom left;

            img {
                width: 50%;

                @include desktop {
                    width: 100%;

                }
            }
                        
            @include desktop {
                background-position: bottom left;
                flex: 1;
                padding: 4rem 15rem 0 0;
            }
        }

        .text-wrapper {            
            padding: 1rem 10%;

            @include desktop {
                flex: 1;
                padding: 15% 1%;
            }
            
            .contact-box {
                display: flex;
                gap: 0 1rem;

                p {
                    font-size: 12px;    
                }
                
                @include tablet {
                    margin: 0 0 1rem;
                }
            }
        }
    }
}