footer {
    .container {
        padding: 0 15%;
        text-align: center;

        @include tablet {
            padding: 0;
            text-align: start;
        }

        p {
            padding: 1rem;
        }
    }
}