
//----- THIS STYLING USED ON INDEX PAGE FOR SERVICES SECTION

.service-grid-container {
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    gap: 1rem 0;

    @include tablet {
        gap: 2rem;
        grid-template-columns: auto auto;
    }

    @include desktop {
        grid-template-columns: auto auto auto;
    }

    .grid-box {
        // These need a border when on services.htmlpage as bg is light.
        max-width: 343px;
        border: 1px solid var(--color-border-gray);
        border-radius: 3px;
        //color: var(--color-primary);
        text-decoration: none;
        transition: 0.15s ease-out;
        box-shadow: 0 10px 8px 5px var(--color-gray);
        background-color: var(--color-light) !important;

        @include tablet {
            padding: 1rem 0;
            max-width: calc((720px / 2) - 16px); // container width split in columns
        }

        @include desktop {
            padding: 1rem 0;
            max-width: calc(1200px / 3); // container width split in columns
        }

        h4 {
            padding: 0.8rem 1.2rem;
        }

        p {
            font-size: 12px;
            padding: 1.5rem;
            color: var(--color-default);

            @include desktop {
                font-size: 14px;
            }
        }

        .image-wrapper {
            overflow: hidden;

            img {
                max-width: inherit;
                transition: 0.25s ease-out;
            }
        }

        &:hover {
            transition: 0.15s ease-in;
            opacity: 50%;

            .image-wrapper {
                img {
                    transform: rotate(3deg) scale(120%);
                    transition: 0.25s ease-in;
                }
            }
        }
    }
}
