#service-details {
    // Sort out mobile and tablet designs
    .container {
        display: grid;
        grid-template-areas:
            'main' 'sidebar';

        @include tablet {
            grid-template-areas:
                'sidebar main main main main';

            .sidebar {
                padding: 0 3rem 0 0;
                border-right: 1px solid var(--color-border-gray);
            }
        }

        .sidebar {
            grid-area: sidebar;
            width: 300px;
            padding: 0 3rem 0 0;

            p {
                font-size: 14px;
                padding: 0 2rem 0 0;
            }

            .about-us {
                margin: 2rem 0;

                .image-wrapper {
                    margin: 0 0 0.5rem;

                    img {
                        width: 100%;
                    }
                }
            }

            .online-support {
                margin: 1rem 0;
                padding: 1rem;

                h3 {
                    font-size: 16px;
                }

                form {
                    position: relative;

                    input {
                        width: 100%;
                        margin: 0.5rem 0;
                        padding: 1rem;
                        font-size: 12px;

                        &[placeholder] {
                            font-style: italic;
                        }
                    }

                    button {
                        background-color: transparent;
                        border: none;
                        color: var(--color-default);
                        position: absolute;
                        top: calc(50% - 0.5rem);
                        right: 0.5rem;
                    }
                }
            }
        }

        .main {
            grid-area: main;
            //max-width: 900px;

            @include desktop {
                padding: 0 0 0 3rem;
            }

            figure {
                //max-width: 900px;
                margin: 1rem 0;
                padding: 0;

                img {
                    aspect-ratio: inherit;
                    max-width: 800px;
                    width: 100%;
                    height: auto;
                }
            }

            .image-wrapper {

                @include desktop {
                    max-width: 900px;
                    margin: 0 0 2rem;
                }

                img {
                    width: 100%;
                }
            }

            span {
                margin: 0 0.5rem 0 0;
            }
        }

        &.sidebar-right {
            @include tablet {
                grid-template-areas:
                    'main main main sidebar';

                .sidebar {
                    padding: 0 0 0 3rem;
                    border-left: 1px solid var(--color-border-gray);
                    border-right: none;
                }

                .main {
                    @include tablet {
                        padding: 0 3rem 0 0;
                    }
                }
            }
        }
    }
}

#service-details-contact-form {
    padding: 2rem 0;

    @include desktop {
        padding: 4rem 0;
    }

    .container {
        display: flex;
        justify-content: center;
        max-width: 1200px;

        .form-wrapper {
            position: relative;
            inset: unset;
            border: none;
            box-shadow: none;
            max-width: 1200px;

            .form-header {
                padding: 2rem 0;
            }

            form {
                width: 1200px;
                display: grid;
                grid-template-areas:
                    'name email' 'message message';
                border: none;
                gap: 1rem;
                padding: 0;

                .form-name {
                    grid-area: name;
                    width: 100%;
                }

                .form-email {
                    grid-area: email;
                    width: 100%;
                }

                .form-message {
                    grid-area: message;

                    textarea {
                        width: 100%;
                    }
                }

                button {
                    max-width: 8rem;
                }
            }
        }
    }
}
