#service-details-contact-form {
    padding: 2rem 0;

    @include desktop {
        padding: 4rem 0;
    }

    .container {

        @include tablet {
            max-width: 100%;
            padding: 0 2rem;
        }

        @include desktop {
            display: flex;
            justify-content: center;
            max-width: 1200px;
            padding: 0;
        }

        .form-wrapper {
            //gets rid of default from styling.
            position: relative;
            inset: unset;
            border: none;
            box-shadow: none;
            width: 100%;


            .form-header {
                padding: 2rem 0;
            }

            form {
                display: grid;
                border: none;
                padding: 0;
                margin: 0;

                max-width: 100vw;
                grid-template-areas:
                    'name' 'email' 'message';

                @include desktop {
                    gap: 1rem;
                    grid-template-areas:
                        'name email' 'message message';
                }

                .form-name {
                    grid-area: name;
                    width: 100%;
                }

                .form-email {
                    grid-area: email;
                    width: 100%;
                }

                .form-message {
                    grid-area: message;

                    textarea {
                        width: 100%;
                    }
                }

                button {

                    @include desktop {
                        max-width: 8rem;
                    }
                }
            }
        }
    }
}
