@using Umbraco.Cms.Web.Common.PublishedModels;
@using Umbraco.Cms.Core.Models.Blocks;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

@{
    Layout = "mainLayout.cshtml";
    ViewBag.Title = Model?.Value("pageTitle") ?? null;
}

@await Html.PartialAsync("partials/static/breadcrumbs.cshtml")

@await Html.PartialAsync("partials/static/contactInfoHub.cshtml")

@await Html.PartialAsync("partials/static/contactForm.cshtml")

@await Html.PartialAsync("partials/static/googleMap.cshtml")

<section id="brands">
    @await Html.PartialAsync("partials/static/partnerBrands.cshtml")
</section>