@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	Layout = "mainLayout.cshtml";
	ViewBag.Title = Model?.Value("pageTitle") ?? null;

	var selection = Umbraco.Content(Guid.Parse("1cd3b4ea-e949-432b-94f8-57e8fcd2424d"))?
    .ChildrenOfType("serviceItemTemplate")?
    .Where(x => x.IsVisible());	
}

<section id="our-services">
<div class="container">
	@if(!string.IsNullOrEmpty(Model?.Value("customeHeadLine")?.ToString()))
	{
		<div class="headline">
			<h2 class="title">@Model.Value("customeHeadLine")</h2>
		</div>
	}

	<div class="service-grid-container">
			@if (selection != null)
			{
				foreach (var item in selection)
				{
				var link = item?.Url().TrimEnd("/");
				var image = item?.Value<IPublishedContent>("thumbnailImage")?.Url() ?? "";
				var preamble = item?.Value<string>("preamble") ?? "";

				<a href="@link" class="grid-box bg-light">
					<h4>@item?.Name</h4>
					<div class="image-wrapper">
						<img src="@image" alt="@item?.Name">
					</div>
					<p>@preamble</p>
				</a>					
				}
				
			}
	
	</div>

</div>
</section>


