<?xml version="1.0" encoding="utf-8"?>
<Content Key="a8b8649f-8e0d-4466-8e13-783a4f8e3327" Alias="Aaron Lambert" Level="3">
  <Info>
    <Parent Key="2c56be26-c9bd-436e-b5f7-33877ea9a745">Staff</Parent>
    <Path>/Home/Staff/AaronLambert</Path>
    <Trashed>false</Trashed>
    <ContentType>staffItemTemplate</ContentType>
    <CreateDate>2024-09-19T17:06:28</CreateDate>
    <NodeName Default="Aaron Lambert" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="fef74225-fa06-43e7-9c5a-4e367d919da5">staffItemTemplate</Template>
  </Info>
  <Properties>
    <company>
      <Value><![CDATA[[
  "Onatrix"
]]]></Value>
    </company>
    <staffImage>
      <Value><![CDATA[[
  {
    "key": "58d43695-2605-4e1a-a8c0-b3fe96c99293",
    "mediaKey": "f76256a5-97db-4e57-a6c7-9504b9b3ef94",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </staffImage>
    <staffIntroduction>
      <Value><![CDATA[Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium. Sed ut perspiciatis unde omnis iste natus error.]]></Value>
    </staffIntroduction>
    <staffName>
      <Value><![CDATA[Aaron Lambert]]></Value>
    </staffName>
    <staffRole>
      <Value><![CDATA[[
  "Business Specialist"
]]]></Value>
    </staffRole>
  </Properties>
</Content>