<?xml version="1.0" encoding="utf-8"?>
<Content Key="3f18733e-6cd1-49ed-a2cd-3f08000a8a98" Alias="AJ Carter" Level="3">
  <Info>
    <Parent Key="2c56be26-c9bd-436e-b5f7-33877ea9a745">Staff</Parent>
    <Path>/Home/Staff/AJCarter</Path>
    <Trashed>false</Trashed>
    <ContentType>staffItemTemplate</ContentType>
    <CreateDate>2024-09-19T17:02:01</CreateDate>
    <NodeName Default="AJ Carter" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="fef74225-fa06-43e7-9c5a-4e367d919da5">staffItemTemplate</Template>
  </Info>
  <Properties>
    <company>
      <Value><![CDATA[[
  "Onatrix"
]]]></Value>
    </company>
    <staffImage>
      <Value><![CDATA[[
  {
    "key": "4219cb7f-ac21-45d8-a516-36687661afe0",
    "mediaKey": "3bbae87e-3200-4c45-82d3-596ffeaf71ff",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </staffImage>
    <staffIntroduction>
      <Value><![CDATA[Morbi commodo, eros quis consequat consequat, orci lacus auctor ligula, ut maximus arcu sapien nec elit. Suspendisse rutrum  i commodo, eros quis consequat consequat.]]></Value>
    </staffIntroduction>
    <staffName>
      <Value><![CDATA[AJ Carter]]></Value>
    </staffName>
    <staffRole>
      <Value><![CDATA[[
  "Financial Advisor"
]]]></Value>
    </staffRole>
  </Properties>
</Content>