<?xml version="1.0" encoding="utf-8"?>
<Content Key="61353e26-4e34-4b9f-8402-884ffedf80da" Alias="assuranceAudits - bjorn@domain.se - 30/09/2024 12:04:17:893" Level="2">
  <Info>
    <Parent Key="ef54effc-afff-4973-81f8-50aaa55c8bf9">Callback Requests</Parent>
    <Path>/CallbackRequests/assuranceAuditsBjornDomainse30092024120417893</Path>
    <Trashed>false</Trashed>
    <ContentType>callbackRequestItem</ContentType>
    <CreateDate>2024-09-30T12:04:18</CreateDate>
    <NodeName Default="assuranceAudits - bjorn@domain.se - 30/09/2024 12:04:17:893" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callbackIsCompleted>
      <Value><![CDATA[]]></Value>
    </callbackIsCompleted>
    <formConsultingType>
      <Value><![CDATA[assuranceAudits]]></Value>
    </formConsultingType>
    <formEmail>
      <Value><![CDATA[bjorn@domain.se]]></Value>
    </formEmail>
    <formName>
      <Value><![CDATA[Björn Andersson]]></Value>
    </formName>
    <formPhone>
      <Value><![CDATA[432423]]></Value>
    </formPhone>
  </Properties>
</Content>