<?xml version="1.0" encoding="utf-8"?>
<Content Key="7565d3dc-6d6b-4a8a-80d7-c58bb9ee23c5" Alias="assuranceAudits - bjorn@domain.se - 27:09:YYYY: 14:51:01:048" Level="2">
  <Info>
    <Parent Key="ef54effc-afff-4973-81f8-50aaa55c8bf9">Callback Requests</Parent>
    <Path>/CallbackRequests/assuranceAuditsBjornDomainse2709YYYY145101048</Path>
    <Trashed>false</Trashed>
    <ContentType>callbackRequestItem</ContentType>
    <CreateDate>2024-09-27T14:51:01</CreateDate>
    <NodeName Default="assuranceAudits - bjorn@domain.se - 27:09:YYYY: 14:51:01:048" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callbackIsCompleted>
      <Value><![CDATA[1]]></Value>
    </callbackIsCompleted>
    <formConsultingType>
      <Value><![CDATA[assuranceAudits]]></Value>
    </formConsultingType>
    <formEmail>
      <Value><![CDATA[bjorn@domain.se]]></Value>
    </formEmail>
    <formName>
      <Value><![CDATA[Björn Andersson]]></Value>
    </formName>
    <formPhone>
      <Value><![CDATA[432423]]></Value>
    </formPhone>
  </Properties>
</Content>