<?xml version="1.0" encoding="utf-8"?>
<Content Key="01e3109e-75c6-4c1b-86f0-25039c18adec" Alias="assuranceAudits - bjornandersson84@gmail.com - 27/09/2024 15:26:08:207" Level="2">
  <Info>
    <Parent Key="ef54effc-afff-4973-81f8-50aaa55c8bf9">Callback Requests</Parent>
    <Path>/CallbackRequests/assuranceAuditsBjornandersson84Gmailcom27092024152608207</Path>
    <Trashed>false</Trashed>
    <ContentType>callbackRequestItem</ContentType>
    <CreateDate>2024-09-27T15:26:08</CreateDate>
    <NodeName Default="assuranceAudits - bjornandersson84@gmail.com - 27/09/2024 15:26:08:207" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callbackIsCompleted>
      <Value><![CDATA[]]></Value>
    </callbackIsCompleted>
    <formConsultingType>
      <Value><![CDATA[assuranceAudits]]></Value>
    </formConsultingType>
    <formEmail>
      <Value><![CDATA[bjornandersson84@gmail.com]]></Value>
    </formEmail>
    <formName>
      <Value><![CDATA[Björn Andersson]]></Value>
    </formName>
    <formPhone>
      <Value><![CDATA[0739651573]]></Value>
    </formPhone>
  </Properties>
</Content>