<?xml version="1.0" encoding="utf-8"?>
<Content Key="bdc9ab94-cda4-4a03-aa7c-f530e8572f4c" Alias="bjornandersson84@gmail.com-9/27/2024 2:35:41 PM" Level="2">
  <Info>
    <Parent Key="aed20760-f81e-4325-bcc3-d6796dd299f2">Contact Messages</Parent>
    <Path>/ContactMessages/bjornandersson84Gmailcom927202423541PM</Path>
    <Trashed>false</Trashed>
    <ContentType>contactMessageItem</ContentType>
    <CreateDate>2024-09-27T14:35:48</CreateDate>
    <NodeName Default="bjornandersson84@gmail.com-9/27/2024 2:35:41 PM" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contactIsHandled>
      <Value><![CDATA[]]></Value>
    </contactIsHandled>
    <formEmail>
      <Value><![CDATA[bjornandersson84@gmail.com]]></Value>
    </formEmail>
    <formMessage>
      <Value><![CDATA[blabla]]></Value>
    </formMessage>
    <formName>
      <Value><![CDATA[Björn Andersson]]></Value>
    </formName>
  </Properties>
</Content>