<?xml version="1.0" encoding="utf-8"?>
<Content Key="accafb22-5c2a-40ae-b064-0b6703252590" Alias="bjorn@domain.se - 27/09/2024 15:00:29:504" Level="2">
  <Info>
    <Parent Key="548aed22-3430-4a5f-8172-619e43867214">Online Support Requests</Parent>
    <Path>/OnlineSupportRequests/bjornDomainse27092024150029504</Path>
    <Trashed>false</Trashed>
    <ContentType>onlineSupportItem</ContentType>
    <CreateDate>2024-09-27T15:00:29</CreateDate>
    <NodeName Default="bjorn@domain.se - 27/09/2024 15:00:29:504" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <formEmail>
      <Value><![CDATA[bjorn@domain.se]]></Value>
    </formEmail>
    <supportGiven>
      <Value><![CDATA[]]></Value>
    </supportGiven>
  </Properties>
</Content>