<?xml version="1.0" encoding="utf-8"?>
<Content Key="1cf32e54-ce59-4ff0-8014-d107e95a1fab" Alias="bjornandersson84@gmail.com - 27/09/2024 15:01:03:040" Level="2">
  <Info>
    <Parent Key="aed20760-f81e-4325-bcc3-d6796dd299f2">Contact Messages</Parent>
    <Path>/ContactMessages/bjornandersson84Gmailcom27092024150103040</Path>
    <Trashed>false</Trashed>
    <ContentType>contactMessageItem</ContentType>
    <CreateDate>2024-09-27T15:01:03</CreateDate>
    <NodeName Default="bjornandersson84@gmail.com - 27/09/2024 15:01:03:040" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contactIsHandled>
      <Value><![CDATA[1]]></Value>
    </contactIsHandled>
    <formEmail>
      <Value><![CDATA[bjornandersson84@gmail.com]]></Value>
    </formEmail>
    <formMessage>
      <Value><![CDATA[gdsgdsgds]]></Value>
    </formMessage>
    <formName>
      <Value><![CDATA[Björn Andersson]]></Value>
    </formName>
  </Properties>
</Content>