<?xml version="1.0" encoding="utf-8"?>
<Content Key="6bd5d894-81e8-4e57-8753-0bdcd43c38fc" Alias="bondsCommodities - bjorn@domain.se - 27/09/2024 15:26:48:785" Level="2">
  <Info>
    <Parent Key="ef54effc-afff-4973-81f8-50aaa55c8bf9">Callback Requests</Parent>
    <Path>/CallbackRequests/bondsCommoditiesBjornDomainse27092024152648785</Path>
    <Trashed>false</Trashed>
    <ContentType>callbackRequestItem</ContentType>
    <CreateDate>2024-09-27T15:26:48</CreateDate>
    <NodeName Default="bondsCommodities - bjorn@domain.se - 27/09/2024 15:26:48:785" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callbackIsCompleted>
      <Value><![CDATA[]]></Value>
    </callbackIsCompleted>
    <formConsultingType>
      <Value><![CDATA[bondsCommodities]]></Value>
    </formConsultingType>
    <formEmail>
      <Value><![CDATA[bjorn@domain.se]]></Value>
    </formEmail>
    <formName>
      <Value><![CDATA[Björn Andersson]]></Value>
    </formName>
    <formPhone>
      <Value><![CDATA[432423]]></Value>
    </formPhone>
  </Properties>
</Content>