<?xml version="1.0" encoding="utf-8"?>
<Content Key="7ce10e03-626f-42f1-a8de-d7403f8599ce" Alias="Brandon Newton" Level="3">
  <Info>
    <Parent Key="2c56be26-c9bd-436e-b5f7-33877ea9a745">Staff</Parent>
    <Path>/Home/Staff/BrandonNewton</Path>
    <Trashed>false</Trashed>
    <ContentType>staffItemTemplate</ContentType>
    <CreateDate>2024-09-19T16:20:39</CreateDate>
    <NodeName Default="Brandon Newton" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="fef74225-fa06-43e7-9c5a-4e367d919da5">staffItemTemplate</Template>
  </Info>
  <Properties>
    <company>
      <Value><![CDATA[[
  "Onatrix"
]]]></Value>
    </company>
    <staffImage>
      <Value><![CDATA[[
  {
    "key": "eb982d07-62e7-4fb3-9ff9-dcf417101a87",
    "mediaKey": "88c02351-0cd9-4069-b8a2-76126bc9f269",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </staffImage>
    <staffIntroduction>
      <Value><![CDATA[Morbi commodo, eros quis consequat consequat, orci lacus auctor ligula, ut maximus arcu sapien nec elit. Suspendisse rutrum  i commodo, eros quis consequat consequat.]]></Value>
    </staffIntroduction>
    <staffName>
      <Value><![CDATA[Brandon Newton]]></Value>
    </staffName>
    <staffRole>
      <Value><![CDATA[[
  "Financial Advisor"
]]]></Value>
    </staffRole>
  </Properties>
</Content>