<?xml version="1.0" encoding="utf-8"?>
<Content Key="bbb1146b-016c-44c7-a4ad-04e5cd14fd86" Alias="Brandon Kerr" Level="3">
  <Info>
    <Parent Key="2c56be26-c9bd-436e-b5f7-33877ea9a745">Staff</Parent>
    <Path>/Home/Staff/BrandonKerr</Path>
    <Trashed>false</Trashed>
    <ContentType>staffItemTemplate</ContentType>
    <CreateDate>2024-09-19T19:45:40</CreateDate>
    <NodeName Default="Brandon Kerr" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="fef74225-fa06-43e7-9c5a-4e367d919da5">staffItemTemplate</Template>
  </Info>
  <Properties>
    <company>
      <Value><![CDATA[[
  "Onatrix"
]]]></Value>
    </company>
    <staffImage>
      <Value><![CDATA[[
  {
    "key": "6700d368-bd94-4fca-8c36-a9b4f63b5468",
    "mediaKey": "ce50bd69-971b-40b8-b31b-5314be985d87",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </staffImage>
    <staffIntroduction>
      <Value><![CDATA[Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium. Sed ut perspiciatis unde omnis iste natus error.]]></Value>
    </staffIntroduction>
    <staffName>
      <Value><![CDATA[Brandon Kerr]]></Value>
    </staffName>
    <staffRole>
      <Value><![CDATA[[
  "CFO",
  "Co-Founder"
]]]></Value>
    </staffRole>
  </Properties>
</Content>