<?xml version="1.0" encoding="utf-8"?>
<Content Key="ef54effc-afff-4973-81f8-50aaa55c8bf9" Alias="Callback Requests" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/CallbackRequests</Path>
    <Trashed>false</Trashed>
    <ContentType>callbackRequests</ContentType>
    <CreateDate>2024-09-27T14:00:28</CreateDate>
    <NodeName Default="Callback Requests" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>