<?xml version="1.0" encoding="utf-8"?>
<Content Key="aed20760-f81e-4325-bcc3-d6796dd299f2" Alias="Contact Messages" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ContactMessages</Path>
    <Trashed>false</Trashed>
    <ContentType>contactMessages</ContentType>
    <CreateDate>2024-09-27T14:25:09</CreateDate>
    <NodeName Default="Contact Messages" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>