<?xml version="1.0" encoding="utf-8"?>
<Content Key="0497bbea-254a-4ffa-8eee-1cd62abbf33d" Alias="Contact Info Hub" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ContactInfoHub</Path>
    <Trashed>false</Trashed>
    <ContentType>contactInfoHub</ContentType>
    <CreateDate>2024-09-13T10:42:43</CreateDate>
    <NodeName Default="Contact Info Hub" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <backgroundGraphic>
      <Value><![CDATA[[
  {
    "key": "b0cdf1b8-b27b-4f85-98c1-5cf513b29af6",
    "mediaKey": "2d2ff690-f508-4cb1-b1b7-a2e0dd8ac54b",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </backgroundGraphic>
    <foregroundImage>
      <Value><![CDATA[[
  {
    "key": "679e1064-e8b3-433e-8a41-a14e70b122ba",
    "mediaKey": "de2d46c5-8a2f-4cb3-9953-aa13034d5fd1",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </foregroundImage>
    <headline>
      <Value><![CDATA[Let us know about your next project]]></Value>
    </headline>
    <sectionBackgroundColor>
      <Value><![CDATA[{
  "label": "Gray",
  "value": "#f7f7f7"
}]]></Value>
    </sectionBackgroundColor>
    <sectionId>
      <Value><![CDATA[Contact Details]]></Value>
    </sectionId>
  </Properties>
</Content>