<?xml version="1.0" encoding="utf-8"?>
<Content Key="d4bd788e-c2d2-4b51-bea0-0f322a696977" Alias="Contact" Level="2">
  <Info>
    <Parent Key="35aebfe4-1dc1-4723-8ce6-d6d1b287a58b">Home</Parent>
    <Path>/Home/Contact</Path>
    <Trashed>false</Trashed>
    <ContentType>modularPage</ContentType>
    <CreateDate>2024-09-26T14:44:44</CreateDate>
    <NodeName Default="Contact" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c136fb42-4330-4dde-8b92-088887b5eb21">modularPage</Template>
  </Info>
  <Properties>
    <contactInfoBlockEditor>
      <Value><![CDATA[]]></Value>
    </contactInfoBlockEditor>
    <pageLayout>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "4e6bc8d3-1c03-48f8-8146-b0962e2185c0",
      "udi": "umb://element/9fbbd7894c7a4a58a29a352564777f9e",
      "sectionTitle": "Contact Us",
      "hideSection": 0,
      "sectionBackgroundColor": "{\r\n  \u0022label\u0022: \u0022None\u0022,\r\n  \u0022value\u0022: \u0022#ffffff\u0022\r\n}",
      "setImgBottom": 0,
      "setImgRight": 0,
      "setImgLeft": 0,
      "addNegativeSpacingBottom": 0,
      "addSpaceToTop": 0,
      "addSpaceToBottom": 0,
      "setBackgroundColorAbsolute": 0
    },
    {
      "contentTypeKey": "a90375c3-62fc-4e32-b066-2f65f9310bc7",
      "udi": "umb://element/dc8b33fb76c647208962ed4844e6cd3b"
    },
    {
      "contentTypeKey": "e1b40d77-8d64-4489-b9cb-cad1b8338aa6",
      "udi": "umb://element/866da3f4d16749668cb1985834d6b9a7"
    },
    {
      "contentTypeKey": "f4644bbb-8c91-448d-9247-80656242391d",
      "udi": "umb://element/7ea72727b3d84e7aa04d2e07916b7988",
      "sectionTitle": "Office Map",
      "sectionBackgroundColor": "{\r\n  \u0022label\u0022: \u0022None\u0022,\r\n  \u0022value\u0022: \u0022#ffffff\u0022\r\n}",
      "centerContentOnPage": 0,
      "addSpaceToTop": 0,
      "addSpaceToBottom": 0,
      "addNegativeSpacingBottom": 0,
      "hideSection": 0
    },
    {
      "contentTypeKey": "601ec785-30e1-45b5-9982-6a4b0c9aede8",
      "udi": "umb://element/dfde58a635c743a8bffec0ec813a46da",
      "formName": "Contact Page Form"
    },
    {
      "contentTypeKey": "a674e453-72e9-4533-a44a-4d4d3ac796c6",
      "udi": "umb://element/3b60597202474d64b6d2db183aa45b10"
    },
    {
      "contentTypeKey": "4e6bc8d3-1c03-48f8-8146-b0962e2185c0",
      "udi": "umb://element/1299d9e08269403bb432f1d05fc04390",
      "sectionTitle": "Brands",
      "hideSection": 0,
      "setImgBottom": 0,
      "setImgRight": 0,
      "setImgLeft": 0,
      "addNegativeSpacingBottom": 0,
      "addSpaceToTop": 1,
      "addSpaceToBottom": 0,
      "setBackgroundColorAbsolute": 0,
      "sectionBackgroundColor": "{\r\n  \u0022label\u0022: \u0022Light\u0022,\r\n  \u0022value\u0022: \u0022#FFFFFF\u0022\r\n}"
    }
  ],
  "settingsData": [],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/9fbbd7894c7a4a58a29a352564777f9e",
        "settingsUdi": null,
        "columnSpan": 12,
        "rowSpan": 1,
        "areas": [
          {
            "key": "786adbee-6477-49f8-8474-43b9e36050e0",
            "items": [
              {
                "contentUdi": "umb://element/dc8b33fb76c647208962ed4844e6cd3b",
                "settingsUdi": null,
                "columnSpan": 12,
                "rowSpan": 1,
                "areas": [
                  {
                    "key": "59dffe2f-4ac4-47b2-8535-eda4fb084278",
                    "items": []
                  }
                ]
              },
              {
                "contentUdi": "umb://element/dfde58a635c743a8bffec0ec813a46da",
                "settingsUdi": null,
                "columnSpan": 12,
                "rowSpan": 1,
                "areas": [
                  {
                    "key": "4113b36d-f3fc-4dfe-a8dd-c3ab1c24ba9a",
                    "items": []
                  }
                ]
              }
            ]
          }
        ]
      },
      {
        "contentUdi": "umb://element/7ea72727b3d84e7aa04d2e07916b7988",
        "settingsUdi": null,
        "columnSpan": 12,
        "rowSpan": 1,
        "areas": [
          {
            "key": "fee99e7f-6ae3-4517-b2c1-b9d38161bc9a",
            "items": [
              {
                "contentUdi": "umb://element/866da3f4d16749668cb1985834d6b9a7",
                "settingsUdi": null,
                "columnSpan": 12,
                "rowSpan": 1,
                "areas": []
              }
            ]
          }
        ]
      },
      {
        "contentUdi": "umb://element/1299d9e08269403bb432f1d05fc04390",
        "settingsUdi": null,
        "columnSpan": 12,
        "rowSpan": 1,
        "areas": [
          {
            "key": "786adbee-6477-49f8-8474-43b9e36050e0",
            "items": [
              {
                "contentUdi": "umb://element/3b60597202474d64b6d2db183aa45b10",
                "settingsUdi": null,
                "columnSpan": 12,
                "rowSpan": 1,
                "areas": []
              }
            ]
          }
        ]
      }
    ]
  }
}]]></Value>
    </pageLayout>
    <pageTitle>
      <Value><![CDATA[Contact Us]]></Value>
    </pageTitle>
  </Properties>
</Content>