<?xml version="1.0" encoding="utf-8"?>
<Content Key="8fd1c700-c050-45b4-b90d-ed6a16a7b4b5" Alias="financialConsulting - bjorn@domain.sw - 03/10/2024 16:28:24:729" Level="2">
  <Info>
    <Parent Key="ef54effc-afff-4973-81f8-50aaa55c8bf9">Callback Requests</Parent>
    <Path>/CallbackRequests/financialConsultingBjornDomainsw03102024162824729</Path>
    <Trashed>false</Trashed>
    <ContentType>callbackRequestItem</ContentType>
    <CreateDate>2024-10-03T16:28:24</CreateDate>
    <NodeName Default="financialConsulting - bjorn@domain.sw - 03/10/2024 16:28:24:729" />
    <SortOrder>21</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callbackIsCompleted>
      <Value><![CDATA[]]></Value>
    </callbackIsCompleted>
    <formConsultingType>
      <Value><![CDATA[financialConsulting]]></Value>
    </formConsultingType>
    <formEmail>
      <Value><![CDATA[bjorn@domain.sw]]></Value>
    </formEmail>
    <formName>
      <Value><![CDATA[s]]></Value>
    </formName>
    <formPhone>
      <Value><![CDATA[0739651573]]></Value>
    </formPhone>
  </Properties>
</Content>