<?xml version="1.0" encoding="utf-8"?>
<Content Key="fb49676a-a2a7-4901-b078-a0d79a0203ff" Alias="financialConsulting - bjornandersson84@gmail.com - 03/10/2024 16:19:40:513" Level="2">
  <Info>
    <Parent Key="ef54effc-afff-4973-81f8-50aaa55c8bf9">Callback Requests</Parent>
    <Path>/CallbackRequests/financialConsultingBjornandersson84Gmailcom03102024161940513</Path>
    <Trashed>false</Trashed>
    <ContentType>callbackRequestItem</ContentType>
    <CreateDate>2024-10-03T16:19:40</CreateDate>
    <NodeName Default="financialConsulting - bjornandersson84@gmail.com - 03/10/2024 16:19:40:513" />
    <SortOrder>19</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callbackIsCompleted>
      <Value><![CDATA[]]></Value>
    </callbackIsCompleted>
    <formConsultingType>
      <Value><![CDATA[financialConsulting]]></Value>
    </formConsultingType>
    <formEmail>
      <Value><![CDATA[bjornandersson84@gmail.com]]></Value>
    </formEmail>
    <formName>
      <Value><![CDATA[ee]]></Value>
    </formName>
    <formPhone>
      <Value><![CDATA[111111111]]></Value>
    </formPhone>
  </Properties>
</Content>