<?xml version="1.0" encoding="utf-8"?>
<Content Key="5ed30d2c-43a9-49d8-8fda-c1b352fd9035" Alias="financialConsulting - bjorn@domain.sw - 03/10/2024 16:27:14:519" Level="2">
  <Info>
    <Parent Key="ef54effc-afff-4973-81f8-50aaa55c8bf9">Callback Requests</Parent>
    <Path>/CallbackRequests/financialConsultingBjornDomainsw03102024162714519</Path>
    <Trashed>false</Trashed>
    <ContentType>callbackRequestItem</ContentType>
    <CreateDate>2024-10-03T16:27:14</CreateDate>
    <NodeName Default="financialConsulting - bjorn@domain.sw - 03/10/2024 16:27:14:519" />
    <SortOrder>20</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callbackIsCompleted>
      <Value><![CDATA[]]></Value>
    </callbackIsCompleted>
    <formConsultingType>
      <Value><![CDATA[financialConsulting]]></Value>
    </formConsultingType>
    <formEmail>
      <Value><![CDATA[bjorn@domain.sw]]></Value>
    </formEmail>
    <formName>
      <Value><![CDATA[s]]></Value>
    </formName>
    <formPhone>
      <Value><![CDATA[789334567]]></Value>
    </formPhone>
  </Properties>
</Content>