<?xml version="1.0" encoding="utf-8"?>
<Content Key="8ec4da36-abdc-4291-8bcd-1663fc17a0c2" Alias="Fossil Group" Level="2">
  <Info>
    <Parent Key="e32373e9-8a94-4c2a-8ee2-93dc131fba50">Partner Brands</Parent>
    <Path>/PartnerBrands/FossilGroup</Path>
    <Trashed>false</Trashed>
    <ContentType>partnerBrandItemTemplate</ContentType>
    <CreateDate>2024-09-12T12:37:12</CreateDate>
    <NodeName Default="Fossil Group" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="fb9dede3-60b8-4770-b773-a7a4f258f816">partnerBrandItemTemplate</Template>
  </Info>
  <Properties>
    <brandName>
      <Value><![CDATA[Fossil Group]]></Value>
    </brandName>
    <thumbnailImage>
      <Value><![CDATA[[
  {
    "key": "635797e6-f6c0-49dc-a16b-8b4c02ec84ef",
    "mediaKey": "40e198c2-e124-42b4-bf27-b864b82e5977",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </thumbnailImage>
  </Properties>
</Content>