<?xml version="1.0" encoding="utf-8"?>
<Content Key="f6e50f4f-61bd-429f-bc10-c142cdd63f60" Alias="Freedom Bird" Level="2">
  <Info>
    <Parent Key="e32373e9-8a94-4c2a-8ee2-93dc131fba50">Partner Brands</Parent>
    <Path>/PartnerBrands/FreedomBird</Path>
    <Trashed>false</Trashed>
    <ContentType>partnerBrandItemTemplate</ContentType>
    <CreateDate>2024-09-12T12:35:35</CreateDate>
    <NodeName Default="Freedom Bird" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="fb9dede3-60b8-4770-b773-a7a4f258f816">partnerBrandItemTemplate</Template>
  </Info>
  <Properties>
    <brandName>
      <Value><![CDATA[Freedom Bird]]></Value>
    </brandName>
    <thumbnailImage>
      <Value><![CDATA[[
  {
    "key": "f7d83c72-786a-4c0e-b381-3883f5f5d738",
    "mediaKey": "b1299aba-1237-4d66-ae87-1f7696e38fa9",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </thumbnailImage>
  </Properties>
</Content>