<?xml version="1.0" encoding="utf-8"?>
<Content Key="34c8e4ce-f21e-40cf-9403-4842d5596a6a" Alias="Globe" Level="2">
  <Info>
    <Parent Key="e32373e9-8a94-4c2a-8ee2-93dc131fba50">Partner Brands</Parent>
    <Path>/PartnerBrands/Globe</Path>
    <Trashed>false</Trashed>
    <ContentType>partnerBrandItemTemplate</ContentType>
    <CreateDate>2024-09-12T12:36:54</CreateDate>
    <NodeName Default="Globe" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="fb9dede3-60b8-4770-b773-a7a4f258f816">partnerBrandItemTemplate</Template>
  </Info>
  <Properties>
    <brandName>
      <Value><![CDATA[Globe]]></Value>
    </brandName>
    <thumbnailImage>
      <Value><![CDATA[[
  {
    "key": "de741adf-784b-4d3b-845c-cf5dad3ec555",
    "mediaKey": "c399f7be-19bc-45fd-9ad3-693c87751770",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </thumbnailImage>
  </Properties>
</Content>