<?xml version="1.0" encoding="utf-8"?>
<Content Key="35aebfe4-1dc1-4723-8ce6-d6d1b287a58b" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>modularPage</ContentType>
    <CreateDate>2024-09-05T14:15:23</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c136fb42-4330-4dde-8b92-088887b5eb21">modularPage</Template>
  </Info>
  <Properties>
    <contactInfoBlockEditor>
      <Value><![CDATA[]]></Value>
    </contactInfoBlockEditor>
    <pageLayout>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "4e6bc8d3-1c03-48f8-8146-b0962e2185c0",
      "udi": "umb://element/4ce98d902ff849c3b4531510b9a9b1c5",
      "sectionBackgroundColor": "{\r\n  \u0022label\u0022: \u0022None\u0022,\r\n  \u0022value\u0022: \u0022#ffffff\u0022\r\n}",
      "sectionTitle": "Hero",
      "sectionBackgroundImage": "[{\u0022key\u0022:\u00222ed5371d-5387-4dbf-85ee-1a097167bb60\u0022,\u0022mediaKey\u0022:\u0022caa51271-0a7e-4569-b3c3-942ce0092210\u0022,\u0022mediaTypeAlias\u0022:\u0022Image\u0022,\u0022crops\u0022:[],\u0022focalPoint\u0022:null}]",
      "addSpaceToTop": 1,
      "sectionBackgroundHeight": 552,
      "hideSection": 0,
      "addSpaceToBottom": 1,
      "limitDynamicContainerWidthInMobile": 1
    },
    {
      "contentTypeKey": "3b7f7bcd-1340-44f6-bc95-2e649fb11837",
      "udi": "umb://element/837d37c1916d4c08b486a8f676c2bab7",
      "padContentInMobileDesign": "Pad None"
    },
    {
      "contentTypeKey": "e2b9d45a-46a8-4eaf-b376-34429e1cb27e",
      "udi": "umb://element/a2ba60d6930248f3ab021f66f7f044d7",
      "headingContent1": "We bring success to you"
    },
    {
      "contentTypeKey": "3844ae80-e33b-40fb-b7e6-fcaec9cd677c",
      "udi": "umb://element/ac3f45db13ba422f85c3302ef09c417e",
      "paragraphContent": "Lorem ipsum dolor sit amet, consectetur. adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim",
      "hideFromMobileDesign": 1
    },
    {
      "contentTypeKey": "380bae07-dd48-43c7-80ee-32c843f9c11f",
      "udi": "umb://element/a9f4b2d5fa6045beb8046eba75046416",
      "buttonLinkText": "Contact Us",
      "buttonLinkUrl": "/contact",
      "buttonLinkColor": "{\r\n  \u0022label\u0022: \u0022Primary\u0022,\r\n  \u0022value\u0022: \u0022#4f5955\u0022\r\n}"
    },
    {
      "contentTypeKey": "4e6bc8d3-1c03-48f8-8146-b0962e2185c0",
      "udi": "umb://element/5d402c618ffb4a27a0e5369eb7abc4bb",
      "sectionBackgroundColor": "{\r\n  \u0022label\u0022: \u0022Light\u0022,\r\n  \u0022value\u0022: \u0022#FFFFFF\u0022\r\n}",
      "sectionTitle": "About Us",
      "addSpaceToTop": 1,
      "addSpaceToBottom": 1,
      "sectionBackgroundHeight": 600,
      "hideSection": 0
    },
    {
      "contentTypeKey": "3b7f7bcd-1340-44f6-bc95-2e649fb11837",
      "udi": "umb://element/4319aa7c0c66485fb2c0dfb10886d9ef"
    },
    {
      "contentTypeKey": "f95a5b94-5aa0-48ab-8b43-89ac32d6d18c",
      "udi": "umb://element/42b966e5e43c47848200aeb8276043ea",
      "headingContent2": "We have 40 years experience"
    },
    {
      "contentTypeKey": "61caaaf9-a3f5-45a8-8a3c-91da951b11a9",
      "udi": "umb://element/8baa0a363ea9481ba625469618d254bc",
      "blockQuoteContent": "We have over 25 years of experience providing expert financial advice to both businesses and individuals"
    },
    {
      "contentTypeKey": "031cfa19-985e-41b2-8545-b8d8f8ed4f5c",
      "udi": "umb://element/008f6620f6174a0bbccf1850e2f33145",
      "selectedImage": "[{\u0022key\u0022:\u0022efc22b66-3ea2-48d6-88fa-de97a6498ef3\u0022,\u0022mediaKey\u0022:\u0022579ed5d0-32f0-4418-8ba6-24b3427a9a8f\u0022,\u0022mediaTypeAlias\u0022:\u0022Image\u0022,\u0022crops\u0022:[],\u0022focalPoint\u0022:null}]",
      "imageDescription": "Tina Fox\u0027s signature",
      "imageMaxWidth": 150
    },
    {
      "contentTypeKey": "3844ae80-e33b-40fb-b7e6-fcaec9cd677c",
      "udi": "umb://element/150d12f6c6a24b9a954d9c077c0b31e1",
      "paragraphContent": "Tina Fox - CEO \u0026 Founder"
    },
    {
      "contentTypeKey": "4a701cd3-c369-49c3-b4fd-d4b6d62cb28f",
      "udi": "umb://element/5795134f83224a94a6cb076f4614ee75",
      "headingContent6": "About Us"
    },
    {
      "contentTypeKey": "4e6bc8d3-1c03-48f8-8146-b0962e2185c0",
      "udi": "umb://element/b0cb642136734659b5e6cc91bf3848b4",
      "sectionTitle": "Our Services Index",
      "sectionBackgroundColor": "{\r\n  \u0022label\u0022: \u0022Gray\u0022,\r\n  \u0022value\u0022: \u0022#f7f7f7\u0022\r\n}",
      "addSpaceToTop": 1,
      "addSpaceToBottom": 1,
      "hideSection": 0
    },
    {
      "contentTypeKey": "3b7f7bcd-1340-44f6-bc95-2e649fb11837",
      "udi": "umb://element/7e9b8940c1214720b7c3c839720992a3",
      "alignTextCenter": 1
    },
    {
      "contentTypeKey": "f95a5b94-5aa0-48ab-8b43-89ac32d6d18c",
      "udi": "umb://element/5fd3512a38c5405fa38775069da98939",
      "headingContent2": "We Provide The Solutions To Grow Your Business Faster",
      "alignCenter": 0
    },
    {
      "contentTypeKey": "4e6bc8d3-1c03-48f8-8146-b0962e2185c0",
      "udi": "umb://element/eec18da1184b4dd499df9dd84af5b854",
      "sectionTitle": "Trusted Company",
      "sectionBackgroundColor": "{\r\n  \u0022label\u0022: \u0022None\u0022,\r\n  \u0022value\u0022: \u0022#ffffff\u0022\r\n}",
      "sectionBackgroundHeight": 0,
      "addSpaceToTop": 1,
      "sectionBackgroundImage": "[{\u0022key\u0022:\u00229231950c-1d0f-427f-83f0-a26cb1181527\u0022,\u0022mediaKey\u0022:\u0022b15f646c-516a-43ec-894b-68541ed4bbf8\u0022,\u0022mediaTypeAlias\u0022:\u0022Image\u0022,\u0022crops\u0022:[],\u0022focalPoint\u0022:null}]",
      "hideSection": 0
    },
    {
      "contentTypeKey": "f59685aa-b1b8-40d1-bc6c-15da258d1031",
      "udi": "umb://element/c479284478ae4676900bdfa8c09ec939",
      "alignTextCenter": 1
    },
    {
      "contentTypeKey": "f95a5b94-5aa0-48ab-8b43-89ac32d6d18c",
      "udi": "umb://element/d04ee4e76dae4fdeb01ca1e6d4a0a64a",
      "headingContent2": "We are trusted by more than",
      "alignCenter": 0,
      "alignLeft": 0
    },
    {
      "contentTypeKey": "f95a5b94-5aa0-48ab-8b43-89ac32d6d18c",
      "udi": "umb://element/64342b3f4ce44e02a703186283a9f337",
      "headingContent2": "4000\u002B clients",
      "alignCenter": 0,
      "alignLeft": 0,
      "textColor": "{\r\n  \u0022label\u0022: \u0022Secondary\u0022,\r\n  \u0022value\u0022: \u0022#d9c3a9\u0022\r\n}"
    },
    {
      "contentTypeKey": "3844ae80-e33b-40fb-b7e6-fcaec9cd677c",
      "udi": "umb://element/b1a3cc6ee0df4d52a9e8670675f9206a",
      "paragraphContent": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis molestie nulla. Nam accumsanporttitor arcu,ac tincidunt lectus tincidunt sed.",
      "alignCenter": 0
    },
    {
      "contentTypeKey": "380bae07-dd48-43c7-80ee-32c843f9c11f",
      "udi": "umb://element/9f0513df6e3c4ebbb96eb093c536c17c",
      "buttonLinkColor": "{\r\n  \u0022label\u0022: \u0022Primary\u0022,\r\n  \u0022value\u0022: \u0022#4f5955\u0022\r\n}",
      "buttonLinkText": "Read Our Story",
      "buttonLinkUrl": "#",
      "alignCenter": 0,
      "alignLeft": 0
    },
    {
      "contentTypeKey": "f59685aa-b1b8-40d1-bc6c-15da258d1031",
      "udi": "umb://element/1231ef6883e04c3e93b9be784b5824d8"
    },
    {
      "contentTypeKey": "031cfa19-985e-41b2-8545-b8d8f8ed4f5c",
      "udi": "umb://element/0160848059ec44edb0e227a02e36d0ce",
      "selectedImage": "[{\u0022key\u0022:\u0022d50c7d40-8c3b-4d72-b732-41edea010c21\u0022,\u0022mediaKey\u0022:\u0022ff959a76-5654-4295-a479-acda6a1eb20a\u0022,\u0022mediaTypeAlias\u0022:\u0022Image\u0022,\u0022crops\u0022:[],\u0022focalPoint\u0022:null}]",
      "imageDescription": "Group shot of professional workers",
      "addMarginTop": 1,
      "centerImage": 1,
      "roundedBorders": 1
    },
    {
      "contentTypeKey": "4e6bc8d3-1c03-48f8-8146-b0962e2185c0",
      "udi": "umb://element/a77d3bf7729949cf93bcd6b4c0271ca8",
      "sectionTitle": "Success Story",
      "sectionBackgroundColor": "{\r\n  \u0022label\u0022: \u0022Primary\u0022,\r\n  \u0022value\u0022: \u0022#4f5955\u0022\r\n}",
      "addSpaceToTop": 1,
      "addSpaceToBottom": 0,
      "addNegativeSpacingBottom": 1,
      "sectionBackgroundImage": "[{\u0022key\u0022:\u0022fbc432da-afba-43d2-ad42-21b3643fe300\u0022,\u0022mediaKey\u0022:\u002242c2e624-85ee-46d9-8bad-cd0dfa7e74d5\u0022,\u0022mediaTypeAlias\u0022:\u0022umbracoMediaVectorGraphics\u0022,\u0022crops\u0022:[],\u0022focalPoint\u0022:null}]",
      "setBackgroundColorAbsolute": 1,
      "hideSection": 0
    },
    {
      "contentTypeKey": "f59685aa-b1b8-40d1-bc6c-15da258d1031",
      "udi": "umb://element/903682a4c408440981b3fd1baf163f0c",
      "alignTextCenter": 1
    },
    {
      "contentTypeKey": "4a701cd3-c369-49c3-b4fd-d4b6d62cb28f",
      "udi": "umb://element/7779ffa0a71b46ec91b4e3cd9a9d2c53",
      "headingContent6": "Success Stories"
    },
    {
      "contentTypeKey": "f95a5b94-5aa0-48ab-8b43-89ac32d6d18c",
      "udi": "umb://element/9131d165550444178b1a92f277544304",
      "headingContent2": "Success Story",
      "sectionBackGroundColor": "{\r\n  \u0022label\u0022: \u0022Primary\u0022,\r\n  \u0022value\u0022: \u0022#4f5955\u0022\r\n}"
    },
    {
      "contentTypeKey": "f59685aa-b1b8-40d1-bc6c-15da258d1031",
      "udi": "umb://element/0060cf8333e146b0bf9f09e5e50e9336",
      "alignTextCenter": 1
    },
    {
      "contentTypeKey": "3b7f7bcd-1340-44f6-bc95-2e649fb11837",
      "udi": "umb://element/45888c99d673455a8391d66ad3a92fef"
    },
    {
      "contentTypeKey": "3b7f7bcd-1340-44f6-bc95-2e649fb11837",
      "udi": "umb://element/418b203867ea48fd8dcba430e9bc66f3"
    },
    {
      "contentTypeKey": "3b7f7bcd-1340-44f6-bc95-2e649fb11837",
      "udi": "umb://element/8264528f615c4434b7365a16c50c80ad",
      "alignTextCenter": 1
    },
    {
      "contentTypeKey": "3b7f7bcd-1340-44f6-bc95-2e649fb11837",
      "udi": "umb://element/accb2da1d5744f72971c221b0f7b5f38",
      "alignTextCenter": 1
    },
    {
      "contentTypeKey": "3b7f7bcd-1340-44f6-bc95-2e649fb11837",
      "udi": "umb://element/47b64f432ad44d2da6786e49c75ef008",
      "alignTextCenter": 1
    },
    {
      "contentTypeKey": "e2b9d45a-46a8-4eaf-b376-34429e1cb27e",
      "udi": "umb://element/42b2cc70a0c744c5b794c4fb5acf4d46",
      "headingContent1": "689",
      "textColor": "{\r\n  \u0022label\u0022: \u0022Secondary\u0022,\r\n  \u0022value\u0022: \u0022#d9c3a9\u0022\r\n}"
    },
    {
      "contentTypeKey": "e2b9d45a-46a8-4eaf-b376-34429e1cb27e",
      "udi": "umb://element/b4592346f5b54aab93e862158ea17ef6",
      "headingContent1": "370",
      "textColor": "{\r\n  \u0022label\u0022: \u0022Secondary\u0022,\r\n  \u0022value\u0022: \u0022#d9c3a9\u0022\r\n}"
    },
    {
      "contentTypeKey": "e2b9d45a-46a8-4eaf-b376-34429e1cb27e",
      "udi": "umb://element/b2f71728faff40be984c4d2c30bb48db",
      "headingContent1": "125",
      "textColor": "{\r\n  \u0022label\u0022: \u0022Secondary\u0022,\r\n  \u0022value\u0022: \u0022#d9c3a9\u0022\r\n}"
    },
    {
      "contentTypeKey": "3844ae80-e33b-40fb-b7e6-fcaec9cd677c",
      "udi": "umb://element/46d6b48db25f41a9ab8dbea71e411dbf",
      "paragraphContent": "More than 100 customers has been served",
      "sectionBackGroundColor": "{\r\n  \u0022label\u0022: \u0022Primary\u0022,\r\n  \u0022value\u0022: \u0022#4f5955\u0022\r\n}"
    },
    {
      "contentTypeKey": "3844ae80-e33b-40fb-b7e6-fcaec9cd677c",
      "udi": "umb://element/cccde7a9d75c46b88a601aa91c41c327",
      "paragraphContent": "More than 370 projects has been completed",
      "sectionBackGroundColor": "{\r\n  \u0022label\u0022: \u0022Primary\u0022,\r\n  \u0022value\u0022: \u0022#4f5955\u0022\r\n}"
    },
    {
      "contentTypeKey": "3844ae80-e33b-40fb-b7e6-fcaec9cd677c",
      "udi": "umb://element/29e20fb76a904e1397464485a2513f3b",
      "paragraphContent": "More than 125 branches has been established in Europe and America",
      "sectionBackGroundColor": "{\r\n  \u0022label\u0022: \u0022Primary\u0022,\r\n  \u0022value\u0022: \u0022#4f5955\u0022\r\n}"
    },
    {
      "contentTypeKey": "031cfa19-985e-41b2-8545-b8d8f8ed4f5c",
      "udi": "umb://element/fbf9e080668b410b8740cb887d315b81",
      "selectedImage": "[{\u0022key\u0022:\u0022d682c368-27ae-4312-a45e-bc5ea19f980f\u0022,\u0022mediaKey\u0022:\u0022982cb7a5-34b9-44a4-81cc-87a843953860\u0022,\u0022mediaTypeAlias\u0022:\u0022Image\u0022,\u0022crops\u0022:[],\u0022focalPoint\u0022:null}]",
      "imageDescription": "People in meeting",
      "addMarginTop": 1,
      "centerImage": 1,
      "roundedBorders": 0
    },
    {
      "contentTypeKey": "f4644bbb-8c91-448d-9247-80656242391d",
      "udi": "umb://element/55a89eba36d649bf9093b7bfe023a200",
      "sectionBackgroundColor": "{\r\n  \u0022label\u0022: \u0022Light\u0022,\r\n  \u0022value\u0022: \u0022#FFFFFF\u0022\r\n}",
      "addSpaceToTop": 1,
      "sectionTitle": "Our Projects Home",
      "addSpaceToBottom": 1,
      "hideSection": 0
    },
    {
      "contentTypeKey": "4a701cd3-c369-49c3-b4fd-d4b6d62cb28f",
      "udi": "umb://element/7eb9411e88464ae1ab8dbb9e32b3f700",
      "headingContent6": "Our Projects"
    },
    {
      "contentTypeKey": "f95a5b94-5aa0-48ab-8b43-89ac32d6d18c",
      "udi": "umb://element/ad287b7a692a43b5a39ec614582b53c5",
      "headingContent2": "Recent Projects"
    },
    {
      "contentTypeKey": "4a701cd3-c369-49c3-b4fd-d4b6d62cb28f",
      "udi": "umb://element/84f5e5caed4741589c71760d63ddc1fa",
      "headingContent6": "Our Services"
    },
    {
      "contentTypeKey": "535fa12b-f02d-46ac-b06e-5e2a8b8ea981",
      "udi": "umb://element/efe2f0b6ef60415a830312b1fb2e8e8b",
      "cardName": "Projects"
    },
    {
      "contentTypeKey": "4e6bc8d3-1c03-48f8-8146-b0962e2185c0",
      "udi": "umb://element/7dc8753ddd5745c1a2602cf40c75a019",
      "sectionBackgroundColor": "{\r\n  \u0022label\u0022: \u0022Light\u0022,\r\n  \u0022value\u0022: \u0022#FFFFFF\u0022\r\n}",
      "sectionTitle": "Brands",
      "hideSection": 0
    },
    {
      "contentTypeKey": "a674e453-72e9-4533-a44a-4d4d3ac796c6",
      "udi": "umb://element/c490be0f690d4d2680a218c188ce251b"
    },
    {
      "contentTypeKey": "f59685aa-b1b8-40d1-bc6c-15da258d1031",
      "udi": "umb://element/2718a9aac7334796ad871626dd50de5f"
    },
    {
      "contentTypeKey": "3b7f7bcd-1340-44f6-bc95-2e649fb11837",
      "udi": "umb://element/04550fa81eab4a51bc3cde458628dd15"
    },
    {
      "contentTypeKey": "601ec785-30e1-45b5-9982-6a4b0c9aede8",
      "udi": "umb://element/a4f9e275fab44a639841ea70ce72ba62",
      "formName": "Contact Us"
    },
    {
      "contentTypeKey": "d3378855-582e-4417-ab21-6c3d07618ea1",
      "udi": "umb://element/17d822bd61194ffa8ce5448f725b89d8",
      "cardName": "Service Cards"
    },
    {
      "contentTypeKey": "3844ae80-e33b-40fb-b7e6-fcaec9cd677c",
      "udi": "umb://element/8a621edfc9864c2085ae651c114e4f2c",
      "paragraphContent": "Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium.",
      "hideFromMobileDesign": 0
    }
  ],
  "settingsData": [],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/4ce98d902ff849c3b4531510b9a9b1c5",
        "settingsUdi": null,
        "columnSpan": 12,
        "rowSpan": 1,
        "areas": [
          {
            "key": "d9b0bc67-88d9-4d60-b1b8-2d51519f5175",
            "items": []
          },
          {
            "key": "786adbee-6477-49f8-8474-43b9e36050e0",
            "items": [
              {
                "contentUdi": "umb://element/837d37c1916d4c08b486a8f676c2bab7",
                "settingsUdi": null,
                "columnSpan": 6,
                "rowSpan": 1,
                "areas": [
                  {
                    "key": "def0c544-4637-407c-b8dc-78f219c86606",
                    "items": [
                      {
                        "contentUdi": "umb://element/a2ba60d6930248f3ab021f66f7f044d7",
                        "settingsUdi": null,
                        "columnSpan": 12,
                        "rowSpan": 1,
                        "areas": []
                      },
                      {
                        "contentUdi": "umb://element/ac3f45db13ba422f85c3302ef09c417e",
                        "settingsUdi": null,
                        "columnSpan": 12,
                        "rowSpan": 1,
                        "areas": []
                      },
                      {
                        "contentUdi": "umb://element/a9f4b2d5fa6045beb8046eba75046416",
                        "settingsUdi": null,
                        "columnSpan": 12,
                        "rowSpan": 1,
                        "areas": []
                      }
                    ]
                  }
                ]
              }
            ]
          }
        ]
      },
      {
        "contentUdi": "umb://element/5d402c618ffb4a27a0e5369eb7abc4bb",
        "settingsUdi": null,
        "columnSpan": 12,
        "rowSpan": 1,
        "areas": [
          {
            "key": "786adbee-6477-49f8-8474-43b9e36050e0",
            "items": [
              {
                "contentUdi": "umb://element/4319aa7c0c66485fb2c0dfb10886d9ef",
                "settingsUdi": null,
                "columnSpan": 7,
                "rowSpan": 1,
                "areas": [
                  {
                    "key": "def0c544-4637-407c-b8dc-78f219c86606",
                    "items": [
                      {
                        "contentUdi": "umb://element/69b484027bf74920a287b68107f750eb",
                        "settingsUdi": null,
                        "columnSpan": 12,
                        "rowSpan": 1,
                        "areas": []
                      },
                      {
                        "contentUdi": "umb://element/43722130113846fab8e54dc63d6b56e4",
                        "settingsUdi": null,
                        "columnSpan": 12,
                        "rowSpan": 1,
                        "areas": []
                      },
                      {
                        "contentUdi": "umb://element/5795134f83224a94a6cb076f4614ee75",
                        "settingsUdi": null,
                        "columnSpan": 12,
                        "rowSpan": 1,
                        "areas": []
                      },
                      {
                        "contentUdi": "umb://element/42b966e5e43c47848200aeb8276043ea",
                        "settingsUdi": null,
                        "columnSpan": 12,
                        "rowSpan": 1,
                        "areas": []
                      },
                      {
                        "contentUdi": "umb://element/8baa0a363ea9481ba625469618d254bc",
                        "settingsUdi": null,
                        "columnSpan": 12,
                        "rowSpan": 1,
                        "areas": []
                      },
                      {
                        "contentUdi": "umb://element/8a621edfc9864c2085ae651c114e4f2c",
                        "settingsUdi": null,
                        "columnSpan": 12,
                        "rowSpan": 1,
                        "areas": []
                      },
                      {
                        "contentUdi": "umb://element/008f6620f6174a0bbccf1850e2f33145",
                        "settingsUdi": null,
                        "columnSpan": 12,
                        "rowSpan": 1,
                        "areas": []
                      },
                      {
                        "contentUdi": "umb://element/150d12f6c6a24b9a954d9c077c0b31e1",
                        "settingsUdi": null,
                        "columnSpan": 12,
                        "rowSpan": 1,
                        "areas": []
                      }
                    ]
                  }
                ]
              },
              {
                "contentUdi": "umb://element/04550fa81eab4a51bc3cde458628dd15",
                "settingsUdi": null,
                "columnSpan": 5,
                "rowSpan": 1,
                "areas": [
                  {
                    "key": "def0c544-4637-407c-b8dc-78f219c86606",
                    "items": [
                      {
                        "contentUdi": "umb://element/a4f9e275fab44a639841ea70ce72ba62",
                        "settingsUdi": null,
                        "columnSpan": 12,
                        "rowSpan": 1,
                        "areas": [
                          {
                            "key": "4113b36d-f3fc-4dfe-a8dd-c3ab1c24ba9a",
                            "items": []
                          }
                        ]
                      }
                    ]
                  }
                ]
              }
            ]
          }
        ]
      },
      {
        "contentUdi": "umb://element/b0cb642136734659b5e6cc91bf3848b4",
        "settingsUdi": null,
        "columnSpan": 12,
        "rowSpan": 1,
        "areas": [
          {
            "key": "786adbee-6477-49f8-8474-43b9e36050e0",
            "items": [
              {
                "contentUdi": "umb://element/418b203867ea48fd8dcba430e9bc66f3",
                "settingsUdi": null,
                "columnSpan": 3,
                "rowSpan": 1,
                "areas": [
                  {
                    "key": "def0c544-4637-407c-b8dc-78f219c86606",
                    "items": []
                  }
                ]
              },
              {
                "contentUdi": "umb://element/7e9b8940c1214720b7c3c839720992a3",
                "settingsUdi": null,
                "columnSpan": 6,
                "rowSpan": 1,
                "areas": [
                  {
                    "key": "def0c544-4637-407c-b8dc-78f219c86606",
                    "items": [
                      {
                        "contentUdi": "umb://element/5fd3512a38c5405fa38775069da98939",
                        "settingsUdi": null,
                        "columnSpan": 12,
                        "rowSpan": 1,
                        "areas": []
                      },
                      {
                        "contentUdi": "umb://element/84f5e5caed4741589c71760d63ddc1fa",
                        "settingsUdi": null,
                        "columnSpan": 12,
                        "rowSpan": 1,
                        "areas": []
                      }
                    ]
                  }
                ]
              },
              {
                "contentUdi": "umb://element/45888c99d673455a8391d66ad3a92fef",
                "settingsUdi": null,
                "columnSpan": 3,
                "rowSpan": 1,
                "areas": [
                  {
                    "key": "def0c544-4637-407c-b8dc-78f219c86606",
                    "items": []
                  }
                ]
              },
              {
                "contentUdi": "umb://element/0060cf8333e146b0bf9f09e5e50e9336",
                "settingsUdi": null,
                "columnSpan": 12,
                "rowSpan": 1,
                "areas": [
                  {
                    "key": "e163d0e3-3229-4894-a823-fd9e775cbdd0",
                    "items": [
                      {
                        "contentUdi": "umb://element/17d822bd61194ffa8ce5448f725b89d8",
                        "settingsUdi": null,
                        "columnSpan": 12,
                        "rowSpan": 1,
                        "areas": []
                      }
                    ]
                  }
                ]
              }
            ]
          }
        ]
      },
      {
        "contentUdi": "umb://element/eec18da1184b4dd499df9dd84af5b854",
        "settingsUdi": null,
        "columnSpan": 12,
        "rowSpan": 1,
        "areas": [
          {
            "key": "786adbee-6477-49f8-8474-43b9e36050e0",
            "items": [
              {
                "contentUdi": "umb://element/c479284478ae4676900bdfa8c09ec939",
                "settingsUdi": null,
                "columnSpan": 12,
                "rowSpan": 1,
                "areas": [
                  {
                    "key": "e163d0e3-3229-4894-a823-fd9e775cbdd0",
                    "items": [
                      {
                        "contentUdi": "umb://element/d04ee4e76dae4fdeb01ca1e6d4a0a64a",
                        "settingsUdi": null,
                        "columnSpan": 12,
                        "rowSpan": 1,
                        "areas": []
                      },
                      {
                        "contentUdi": "umb://element/64342b3f4ce44e02a703186283a9f337",
                        "settingsUdi": null,
                        "columnSpan": 12,
                        "rowSpan": 1,
                        "areas": []
                      },
                      {
                        "contentUdi": "umb://element/b1a3cc6ee0df4d52a9e8670675f9206a",
                        "settingsUdi": null,
                        "columnSpan": 12,
                        "rowSpan": 1,
                        "areas": []
                      },
                      {
                        "contentUdi": "umb://element/9f0513df6e3c4ebbb96eb093c536c17c",
                        "settingsUdi": null,
                        "columnSpan": 12,
                        "rowSpan": 1,
                        "areas": []
                      }
                    ]
                  }
                ]
              },
              {
                "contentUdi": "umb://element/1231ef6883e04c3e93b9be784b5824d8",
                "settingsUdi": null,
                "columnSpan": 12,
                "rowSpan": 1,
                "areas": [
                  {
                    "key": "e163d0e3-3229-4894-a823-fd9e775cbdd0",
                    "items": [
                      {
                        "contentUdi": "umb://element/0160848059ec44edb0e227a02e36d0ce",
                        "settingsUdi": null,
                        "columnSpan": 12,
                        "rowSpan": 1,
                        "areas": []
                      }
                    ]
                  }
                ]
              }
            ]
          }
        ]
      },
      {
        "contentUdi": "umb://element/a77d3bf7729949cf93bcd6b4c0271ca8",
        "settingsUdi": null,
        "columnSpan": 12,
        "rowSpan": 1,
        "areas": [
          {
            "key": "786adbee-6477-49f8-8474-43b9e36050e0",
            "items": [
              {
                "contentUdi": "umb://element/903682a4c408440981b3fd1baf163f0c",
                "settingsUdi": null,
                "columnSpan": 12,
                "rowSpan": 1,
                "areas": [
                  {
                    "key": "e163d0e3-3229-4894-a823-fd9e775cbdd0",
                    "items": [
                      {
                        "contentUdi": "umb://element/7779ffa0a71b46ec91b4e3cd9a9d2c53",
                        "settingsUdi": null,
                        "columnSpan": 12,
                        "rowSpan": 1,
                        "areas": []
                      },
                      {
                        "contentUdi": "umb://element/9131d165550444178b1a92f277544304",
                        "settingsUdi": null,
                        "columnSpan": 12,
                        "rowSpan": 1,
                        "areas": []
                      }
                    ]
                  }
                ]
              },
              {
                "contentUdi": "umb://element/8264528f615c4434b7365a16c50c80ad",
                "settingsUdi": null,
                "columnSpan": 4,
                "rowSpan": 1,
                "areas": [
                  {
                    "key": "def0c544-4637-407c-b8dc-78f219c86606",
                    "items": [
                      {
                        "contentUdi": "umb://element/42b2cc70a0c744c5b794c4fb5acf4d46",
                        "settingsUdi": null,
                        "columnSpan": 12,
                        "rowSpan": 1,
                        "areas": []
                      },
                      {
                        "contentUdi": "umb://element/46d6b48db25f41a9ab8dbea71e411dbf",
                        "settingsUdi": null,
                        "columnSpan": 12,
                        "rowSpan": 1,
                        "areas": []
                      }
                    ]
                  }
                ]
              },
              {
                "contentUdi": "umb://element/accb2da1d5744f72971c221b0f7b5f38",
                "settingsUdi": null,
                "columnSpan": 4,
                "rowSpan": 1,
                "areas": [
                  {
                    "key": "def0c544-4637-407c-b8dc-78f219c86606",
                    "items": [
                      {
                        "contentUdi": "umb://element/b4592346f5b54aab93e862158ea17ef6",
                        "settingsUdi": null,
                        "columnSpan": 12,
                        "rowSpan": 1,
                        "areas": []
                      },
                      {
                        "contentUdi": "umb://element/cccde7a9d75c46b88a601aa91c41c327",
                        "settingsUdi": null,
                        "columnSpan": 12,
                        "rowSpan": 1,
                        "areas": []
                      }
                    ]
                  }
                ]
              },
              {
                "contentUdi": "umb://element/47b64f432ad44d2da6786e49c75ef008",
                "settingsUdi": null,
                "columnSpan": 4,
                "rowSpan": 1,
                "areas": [
                  {
                    "key": "def0c544-4637-407c-b8dc-78f219c86606",
                    "items": [
                      {
                        "contentUdi": "umb://element/b2f71728faff40be984c4d2c30bb48db",
                        "settingsUdi": null,
                        "columnSpan": 12,
                        "rowSpan": 1,
                        "areas": []
                      },
                      {
                        "contentUdi": "umb://element/29e20fb76a904e1397464485a2513f3b",
                        "settingsUdi": null,
                        "columnSpan": 12,
                        "rowSpan": 1,
                        "areas": []
                      }
                    ]
                  }
                ]
              },
              {
                "contentUdi": "umb://element/fbf9e080668b410b8740cb887d315b81",
                "settingsUdi": null,
                "columnSpan": 12,
                "rowSpan": 1,
                "areas": []
              }
            ]
          }
        ]
      },
      {
        "contentUdi": "umb://element/55a89eba36d649bf9093b7bfe023a200",
        "settingsUdi": null,
        "columnSpan": 12,
        "rowSpan": 1,
        "areas": [
          {
            "key": "fee99e7f-6ae3-4517-b2c1-b9d38161bc9a",
            "items": [
              {
                "contentUdi": "umb://element/2718a9aac7334796ad871626dd50de5f",
                "settingsUdi": null,
                "columnSpan": 12,
                "rowSpan": 1,
                "areas": [
                  {
                    "key": "e163d0e3-3229-4894-a823-fd9e775cbdd0",
                    "items": [
                      {
                        "contentUdi": "umb://element/7eb9411e88464ae1ab8dbb9e32b3f700",
                        "settingsUdi": null,
                        "columnSpan": 12,
                        "rowSpan": 1,
                        "areas": []
                      },
                      {
                        "contentUdi": "umb://element/ad287b7a692a43b5a39ec614582b53c5",
                        "settingsUdi": null,
                        "columnSpan": 12,
                        "rowSpan": 1,
                        "areas": []
                      }
                    ]
                  }
                ]
              },
              {
                "contentUdi": "umb://element/efe2f0b6ef60415a830312b1fb2e8e8b",
                "settingsUdi": null,
                "columnSpan": 12,
                "rowSpan": 1,
                "areas": []
              }
            ]
          }
        ]
      },
      {
        "contentUdi": "umb://element/7dc8753ddd5745c1a2602cf40c75a019",
        "settingsUdi": null,
        "columnSpan": 12,
        "rowSpan": 1,
        "areas": [
          {
            "key": "786adbee-6477-49f8-8474-43b9e36050e0",
            "items": [
              {
                "contentUdi": "umb://element/c490be0f690d4d2680a218c188ce251b",
                "settingsUdi": null,
                "columnSpan": 12,
                "rowSpan": 1,
                "areas": []
              }
            ]
          }
        ]
      }
    ]
  }
}]]></Value>
    </pageLayout>
    <pageTitle>
      <Value><![CDATA[Home]]></Value>
    </pageTitle>
  </Properties>
</Content>