<?xml version="1.0" encoding="utf-8"?>
<Content Key="b58a7bce-39a5-443e-9e3a-a7afefa8e4eb" Alias="Identity" Level="2">
  <Info>
    <Parent Key="e32373e9-8a94-4c2a-8ee2-93dc131fba50">Partner Brands</Parent>
    <Path>/PartnerBrands/Identity</Path>
    <Trashed>false</Trashed>
    <ContentType>partnerBrandItemTemplate</ContentType>
    <CreateDate>2024-09-12T12:35:58</CreateDate>
    <NodeName Default="Identity" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="fb9dede3-60b8-4770-b773-a7a4f258f816">partnerBrandItemTemplate</Template>
  </Info>
  <Properties>
    <brandName>
      <Value><![CDATA[Identity]]></Value>
    </brandName>
    <thumbnailImage>
      <Value><![CDATA[[
  {
    "key": "c7d88ff0-e0bd-4acc-a399-40cc3e615ca2",
    "mediaKey": "4850bc4c-9e04-4b7f-8705-9776b54bf88d",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </thumbnailImage>
  </Properties>
</Content>