<?xml version="1.0" encoding="utf-8"?>
<Content Key="3466c05d-7f8f-452a-a21c-2294128756ab" Alias="Kevin Gardner " Level="3">
  <Info>
    <Parent Key="2c56be26-c9bd-436e-b5f7-33877ea9a745">Staff</Parent>
    <Path>/Home/Staff/KevinGardner</Path>
    <Trashed>false</Trashed>
    <ContentType>staffItemTemplate</ContentType>
    <CreateDate>2024-09-19T19:47:23</CreateDate>
    <NodeName Default="Kevin Gardner " />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="fef74225-fa06-43e7-9c5a-4e367d919da5">staffItemTemplate</Template>
  </Info>
  <Properties>
    <company>
      <Value><![CDATA[[
  "Swedbank"
]]]></Value>
    </company>
    <staffImage>
      <Value><![CDATA[[
  {
    "key": "8ab1829b-7f69-4c38-b21f-9d002fbb57cb",
    "mediaKey": "72f59cca-f06c-4bfe-946e-c3e613072ce7",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </staffImage>
    <staffIntroduction>
      <Value><![CDATA[Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium. Sed ut perspiciatis unde omnis iste natus error.]]></Value>
    </staffIntroduction>
    <staffName>
      <Value><![CDATA[Kevin Gardner]]></Value>
    </staffName>
    <staffRole>
      <Value><![CDATA[[
  "Banking Advisor"
]]]></Value>
    </staffRole>
  </Properties>
</Content>