<?xml version="1.0" encoding="utf-8"?>
<Content Key="8779ed33-2f83-48ba-89ae-01165d40fe97" Alias="longTermInterest - paweldmczk@gmail.com - 30/09/2024 13:14:00:126" Level="2">
  <Info>
    <Parent Key="ef54effc-afff-4973-81f8-50aaa55c8bf9">Callback Requests</Parent>
    <Path>/CallbackRequests/longTermInterestPaweldmczkGmailcom30092024131400126</Path>
    <Trashed>false</Trashed>
    <ContentType>callbackRequestItem</ContentType>
    <CreateDate>2024-09-30T13:14:00</CreateDate>
    <NodeName Default="longTermInterest - paweldmczk@gmail.com - 30/09/2024 13:14:00:126" />
    <SortOrder>10</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callbackIsCompleted>
      <Value><![CDATA[]]></Value>
    </callbackIsCompleted>
    <formConsultingType>
      <Value><![CDATA[longTermInterest]]></Value>
    </formConsultingType>
    <formEmail>
      <Value><![CDATA[paweldmczk@gmail.com]]></Value>
    </formEmail>
    <formName>
      <Value><![CDATA[Pawel Demczuk]]></Value>
    </formName>
    <formPhone>
      <Value><![CDATA[0704366604]]></Value>
    </formPhone>
  </Properties>
</Content>