<?xml version="1.0" encoding="utf-8"?>
<Content Key="9ad70e0a-e741-4d20-89c8-5f873700cef0" Alias="longTermInterest - paweldmczk@gmail.com - 30/09/2024 13:14:01:655" Level="2">
  <Info>
    <Parent Key="ef54effc-afff-4973-81f8-50aaa55c8bf9">Callback Requests</Parent>
    <Path>/CallbackRequests/longTermInterestPaweldmczkGmailcom30092024131401655</Path>
    <Trashed>false</Trashed>
    <ContentType>callbackRequestItem</ContentType>
    <CreateDate>2024-09-30T13:14:03</CreateDate>
    <NodeName Default="longTermInterest - paweldmczk@gmail.com - 30/09/2024 13:14:01:655" />
    <SortOrder>15</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callbackIsCompleted>
      <Value><![CDATA[]]></Value>
    </callbackIsCompleted>
    <formConsultingType>
      <Value><![CDATA[longTermInterest]]></Value>
    </formConsultingType>
    <formEmail>
      <Value><![CDATA[paweldmczk@gmail.com]]></Value>
    </formEmail>
    <formName>
      <Value><![CDATA[Pawel Demczuk]]></Value>
    </formName>
    <formPhone>
      <Value><![CDATA[0704366604]]></Value>
    </formPhone>
  </Properties>
</Content>