<?xml version="1.0" encoding="utf-8"?>
<Content Key="12554382-4226-4063-84b0-ea6b000e806c" Alias="Miranda Dayton" Level="3">
  <Info>
    <Parent Key="2c56be26-c9bd-436e-b5f7-33877ea9a745">Staff</Parent>
    <Path>/Home/Staff/MirandaDayton</Path>
    <Trashed>false</Trashed>
    <ContentType>staffItemTemplate</ContentType>
    <CreateDate>2024-09-19T19:46:33</CreateDate>
    <NodeName Default="Miranda Dayton" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="fef74225-fa06-43e7-9c5a-4e367d919da5">staffItemTemplate</Template>
  </Info>
  <Properties>
    <company>
      <Value><![CDATA[[
  "Onatrix"
]]]></Value>
    </company>
    <staffImage>
      <Value><![CDATA[[
  {
    "key": "4aae2b73-2b43-48f5-adfb-4043a3f56b20",
    "mediaKey": "ca832123-5bd3-48a6-9603-6f9891b6af51",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </staffImage>
    <staffIntroduction>
      <Value><![CDATA[Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium. Sed ut perspiciatis unde omnis iste natus error.]]></Value>
    </staffIntroduction>
    <staffName>
      <Value><![CDATA[Miranda Dayton]]></Value>
    </staffName>
    <staffRole>
      <Value><![CDATA[[
  "Head of HR"
]]]></Value>
    </staffRole>
  </Properties>
</Content>