<?xml version="1.0" encoding="utf-8"?>
<Content Key="e32373e9-8a94-4c2a-8ee2-93dc131fba50" Alias="Partner Brands" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/PartnerBrands</Path>
    <Trashed>false</Trashed>
    <ContentType>partnerBrands</ContentType>
    <CreateDate>2024-09-12T12:34:14</CreateDate>
    <NodeName Default="Partner Brands" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>