<?xml version="1.0" encoding="utf-8"?>
<Content Key="425d10f8-55b9-42a7-aa7b-d98e352433bc" Alias="Projects" Level="2">
  <Info>
    <Parent Key="35aebfe4-1dc1-4723-8ce6-d6d1b287a58b">Home</Parent>
    <Path>/Home/Projects</Path>
    <Trashed>false</Trashed>
    <ContentType>projectListPage</ContentType>
    <CreateDate>2024-09-11T14:13:19</CreateDate>
    <NodeName Default="Projects" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="95319acc-2750-48f0-82a9-2194f674227a">projectListPage</Template>
  </Info>
  <Properties>
    <centerHeadLineText>
      <Value><![CDATA[0]]></Value>
    </centerHeadLineText>
    <contactInfoSection>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "a90375c3-62fc-4e32-b066-2f65f9310bc7",
      "udi": "umb://element/6b030c21d71440daa2c1e147752ab0da"
    }
  ],
  "settingsData": [],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/6b030c21d71440daa2c1e147752ab0da",
        "settingsUdi": null,
        "columnSpan": 12,
        "rowSpan": 1,
        "areas": [
          {
            "key": "476f89ab-be68-45d1-99fa-34f3b4ccbfe1",
            "items": []
          }
        ]
      }
    ]
  }
}]]></Value>
    </contactInfoSection>
    <customHeadline>
      <Value><![CDATA[]]></Value>
    </customHeadline>
    <pageTitle>
      <Value><![CDATA[Our Projects]]></Value>
    </pageTitle>
    <sidebarBlockEditor>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "17b058aa-a21d-43d6-bc34-a1a7146bbade",
      "udi": "umb://element/1b746e4df24547d482b957b29428e794",
      "sidebarBackground": "{\r\n  \u0022label\u0022: \u0022Light\u0022,\r\n  \u0022value\u0022: \u0022#FFFFFF\u0022\r\n}"
    },
    {
      "contentTypeKey": "f066e493-9d0a-4a30-95a8-c2514f873868",
      "udi": "umb://element/24fcc95b63a24968acce5fe71f797913"
    },
    {
      "contentTypeKey": "9d93a0db-815b-417c-aaf9-40f53792cd22",
      "udi": "umb://element/783a3be556834314876fa1ccd9c46961",
      "formHeaderColor": "{\r\n  \u0022label\u0022: \u0022Primary\u0022,\r\n  \u0022value\u0022: \u0022#4f5955\u0022\r\n}"
    }
  ],
  "settingsData": [],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/1b746e4df24547d482b957b29428e794",
        "settingsUdi": null,
        "columnSpan": 12,
        "rowSpan": 1,
        "areas": [
          {
            "key": "f6597a7d-ef55-4565-9b8f-cb8787c3d01a",
            "items": [
              {
                "contentUdi": "umb://element/24fcc95b63a24968acce5fe71f797913",
                "settingsUdi": null,
                "columnSpan": 12,
                "rowSpan": 1,
                "areas": []
              },
              {
                "contentUdi": "umb://element/783a3be556834314876fa1ccd9c46961",
                "settingsUdi": null,
                "columnSpan": 12,
                "rowSpan": 1,
                "areas": []
              }
            ]
          }
        ]
      }
    ]
  }
}]]></Value>
    </sidebarBlockEditor>
  </Properties>
</Content>