<?xml version="1.0" encoding="utf-8"?>
<Content Key="eb15222a-0a64-4fd2-bdc1-4df978d9658e" Alias="riskManagement - bjorn@domain.se - 27/09/2024 15:27:47:028" Level="2">
  <Info>
    <Parent Key="ef54effc-afff-4973-81f8-50aaa55c8bf9">Callback Requests</Parent>
    <Path>/CallbackRequests/riskManagementBjornDomainse27092024152747028</Path>
    <Trashed>false</Trashed>
    <ContentType>callbackRequestItem</ContentType>
    <CreateDate>2024-09-27T15:27:47</CreateDate>
    <NodeName Default="riskManagement - bjorn@domain.se - 27/09/2024 15:27:47:028" />
    <SortOrder>7</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callbackIsCompleted>
      <Value><![CDATA[]]></Value>
    </callbackIsCompleted>
    <formConsultingType>
      <Value><![CDATA[riskManagement]]></Value>
    </formConsultingType>
    <formEmail>
      <Value><![CDATA[bjorn@domain.se]]></Value>
    </formEmail>
    <formName>
      <Value><![CDATA[Björn Andersson]]></Value>
    </formName>
    <formPhone>
      <Value><![CDATA[432423]]></Value>
    </formPhone>
  </Properties>
</Content>