<?xml version="1.0" encoding="utf-8"?>
<Content Key="1cd3b4ea-e949-432b-94f8-57e8fcd2424d" Alias="Services" Level="2">
  <Info>
    <Parent Key="35aebfe4-1dc1-4723-8ce6-d6d1b287a58b">Home</Parent>
    <Path>/Home/Services</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceListPage</ContentType>
    <CreateDate>2024-09-11T01:11:19</CreateDate>
    <NodeName Default="Services" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="ae7dcd82-93d8-43a5-ba79-ff0e521cc7af">serviceListPage</Template>
  </Info>
  <Properties>
    <centerHeadlineText>
      <Value><![CDATA[1]]></Value>
    </centerHeadlineText>
    <contactInfoSection>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "a90375c3-62fc-4e32-b066-2f65f9310bc7",
      "udi": "umb://element/2c801f39bf8745cdb36ee017f525bb7d"
    }
  ],
  "settingsData": [],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/2c801f39bf8745cdb36ee017f525bb7d",
        "settingsUdi": null,
        "columnSpan": 12,
        "rowSpan": 1,
        "areas": [
          {
            "key": "476f89ab-be68-45d1-99fa-34f3b4ccbfe1",
            "items": []
          }
        ]
      }
    ]
  }
}]]></Value>
    </contactInfoSection>
    <customHeadLine>
      <Value><![CDATA[We Provide The Solutions To Grow Your Business Faster]]></Value>
    </customHeadLine>
    <pageTitle>
      <Value><![CDATA[Our Services]]></Value>
    </pageTitle>
  </Properties>
</Content>