<?xml version="1.0" encoding="utf-8"?>
<Content Key="430411ee-6ea0-4acb-8338-9650d9293958" Alias="Simple Leaf" Level="2">
  <Info>
    <Parent Key="e32373e9-8a94-4c2a-8ee2-93dc131fba50">Partner Brands</Parent>
    <Path>/PartnerBrands/SimpleLeaf</Path>
    <Trashed>false</Trashed>
    <ContentType>partnerBrandItemTemplate</ContentType>
    <CreateDate>2024-09-12T12:36:33</CreateDate>
    <NodeName Default="Simple Leaf" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="fb9dede3-60b8-4770-b773-a7a4f258f816">partnerBrandItemTemplate</Template>
  </Info>
  <Properties>
    <brandName>
      <Value><![CDATA[Simple Leaf]]></Value>
    </brandName>
    <thumbnailImage>
      <Value><![CDATA[[
  {
    "key": "28d6678d-1af4-486e-a299-8d9ea036199d",
    "mediaKey": "cd4caa4d-9fb4-498e-9ace-657233e537e5",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </thumbnailImage>
  </Properties>
</Content>