<?xml version="1.0" encoding="utf-8"?>
<Content Key="f4a934ee-9042-4ba5-9e72-cf3a2e7e091c" Alias="Site Settings" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SiteSettings</Path>
    <Trashed>false</Trashed>
    <ContentType>settingsPage</ContentType>
    <CreateDate>2024-09-06T12:45:43</CreateDate>
    <NodeName Default="Site Settings" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <breadcrumbImageLeft>
      <Value><![CDATA[[
  {
    "key": "e9446309-bd8c-4382-a6c2-417b7502979d",
    "mediaKey": "55612e53-4fb3-49ce-acae-6c10a41b9472",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </breadcrumbImageLeft>
    <breadcrumbImageRight>
      <Value><![CDATA[[
  {
    "key": "7f4e095c-64c6-424f-b316-b6f0dd5da02c",
    "mediaKey": "2bc8dac3-3472-4231-96b5-3cc7522858a9",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </breadcrumbImageRight>
    <officeEmailAddress>
      <Value><![CDATA[sales@onatrix.com]]></Value>
    </officeEmailAddress>
    <officeLocation>
      <Value><![CDATA[KlarabergsViadukten 90, 111 64, Stockholm]]></Value>
    </officeLocation>
    <officePhoneNumber>
      <Value><![CDATA[+46 8 123 456 75]]></Value>
    </officePhoneNumber>
    <siteLogotype>
      <Value><![CDATA[[
  {
    "key": "b9a1747e-1b52-4df2-ad6a-2c2a3ed4e3df",
    "mediaKey": "e5b714b7-5ede-4dca-be2d-a4744f667adf",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </siteLogotype>
    <siteName>
      <Value><![CDATA[Onaxtrix]]></Value>
    </siteName>
    <siteTagline>
      <Value><![CDATA[Financial Soutions for Your Business]]></Value>
    </siteTagline>
    <socialMediaInformation>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "cc39463a-e1ce-4b4a-8ad5-48d96885ced9",
      "udi": "umb://element/04fcd3cfb1f3430788e71511c6c06458",
      "platformName": "[\u0022Facebook\u0022]",
      "platformAccountUrl": "https://www.facebook.com/onatrix"
    },
    {
      "contentTypeKey": "cc39463a-e1ce-4b4a-8ad5-48d96885ced9",
      "udi": "umb://element/913647d023514133958cfb2906d7c0cf",
      "platformName": "[\u0022X (formerly twitter)\u0022]",
      "platformAccountUrl": "https://www.x.com/onatrix"
    },
    {
      "contentTypeKey": "cc39463a-e1ce-4b4a-8ad5-48d96885ced9",
      "udi": "umb://element/abef9d947bf7403e90c102c67a01800c",
      "platformName": "[\u0022LinkedIn\u0022]",
      "platformAccountUrl": "htttps://www.linkedin.com/onatrix"
    }
  ],
  "settingsData": [],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/04fcd3cfb1f3430788e71511c6c06458",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/913647d023514133958cfb2906d7c0cf",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/abef9d947bf7403e90c102c67a01800c",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </socialMediaInformation>
  </Properties>
</Content>