<?xml version="1.0" encoding="utf-8"?>
<Content Key="2c56be26-c9bd-436e-b5f7-33877ea9a745" Alias="Staff" Level="2">
  <Info>
    <Parent Key="35aebfe4-1dc1-4723-8ce6-d6d1b287a58b">Home</Parent>
    <Path>/Home/Staff</Path>
    <Trashed>false</Trashed>
    <ContentType>staffListPage</ContentType>
    <CreateDate>2024-09-19T16:19:14</CreateDate>
    <NodeName Default="Staff" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f6e8233f-195c-41a4-b174-187d3f620eda">staffListPage</Template>
  </Info>
  <Properties>
    <centerHeadLineText>
      <Value><![CDATA[1]]></Value>
    </centerHeadLineText>
    <customHeadLine>
      <Value><![CDATA[]]></Value>
    </customHeadLine>
    <pageTitle>
      <Value><![CDATA[Our Staff]]></Value>
    </pageTitle>
  </Properties>
</Content>