<?xml version="1.0" encoding="utf-8"?>
<Content Key="135aad07-1ce8-4d11-bc8f-4557af87a9ee" Alias="statisticAdvisors - bjorn@domain.se - 27/09/2024 14:53:38:759" Level="2">
  <Info>
    <Parent Key="ef54effc-afff-4973-81f8-50aaa55c8bf9">Callback Requests</Parent>
    <Path>/CallbackRequests/statisticAdvisorsBjornDomainse27092024145338759</Path>
    <Trashed>false</Trashed>
    <ContentType>callbackRequestItem</ContentType>
    <CreateDate>2024-09-27T14:53:38</CreateDate>
    <NodeName Default="statisticAdvisors - bjorn@domain.se - 27/09/2024 14:53:38:759" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callbackIsCompleted>
      <Value><![CDATA[1]]></Value>
    </callbackIsCompleted>
    <formConsultingType>
      <Value><![CDATA[statisticAdvisors]]></Value>
    </formConsultingType>
    <formEmail>
      <Value><![CDATA[bjorn@domain.se]]></Value>
    </formEmail>
    <formName>
      <Value><![CDATA[Björn Andersson]]></Value>
    </formName>
    <formPhone>
      <Value><![CDATA[432423]]></Value>
    </formPhone>
  </Properties>
</Content>