<?xml version="1.0" encoding="utf-8"?>
<Content Key="0cd93691-263a-4843-b00b-2abb52b5efa0" Alias="taxAndTrusts - bjorn@domain.se - 27/09/2024 15:24:22:801" Level="2">
  <Info>
    <Parent Key="ef54effc-afff-4973-81f8-50aaa55c8bf9">Callback Requests</Parent>
    <Path>/CallbackRequests/taxAndTrustsBjornDomainse27092024152422801</Path>
    <Trashed>false</Trashed>
    <ContentType>callbackRequestItem</ContentType>
    <CreateDate>2024-09-27T15:24:22</CreateDate>
    <NodeName Default="taxAndTrusts - bjorn@domain.se - 27/09/2024 15:24:22:801" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callbackIsCompleted>
      <Value><![CDATA[]]></Value>
    </callbackIsCompleted>
    <formConsultingType>
      <Value><![CDATA[taxAndTrusts]]></Value>
    </formConsultingType>
    <formEmail>
      <Value><![CDATA[bjorn@domain.se]]></Value>
    </formEmail>
    <formName>
      <Value><![CDATA[Björn Andersson]]></Value>
    </formName>
    <formPhone>
      <Value><![CDATA[432423]]></Value>
    </formPhone>
  </Properties>
</Content>