<?xml version="1.0" encoding="utf-8"?>
<Content Key="3b4f2ade-1e1a-42b8-bd94-d372e5f5af05" Alias="Tina Fox" Level="3">
  <Info>
    <Parent Key="2c56be26-c9bd-436e-b5f7-33877ea9a745">Staff</Parent>
    <Path>/Home/Staff/TinaFox</Path>
    <Trashed>false</Trashed>
    <ContentType>staffItemTemplate</ContentType>
    <CreateDate>2024-09-19T17:07:02</CreateDate>
    <NodeName Default="Tina Fox" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="fef74225-fa06-43e7-9c5a-4e367d919da5">staffItemTemplate</Template>
  </Info>
  <Properties>
    <company>
      <Value><![CDATA[[
  "Onatrix"
]]]></Value>
    </company>
    <staffImage>
      <Value><![CDATA[[
  {
    "key": "62190898-ded2-4f54-95cf-7a5157d6a094",
    "mediaKey": "d2b6729b-db78-40cf-a8a1-4afd0bba47e0",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </staffImage>
    <staffIntroduction>
      <Value><![CDATA[Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium. Sed ut perspiciatis unde omnis iste natus error.]]></Value>
    </staffIntroduction>
    <staffName>
      <Value><![CDATA[Tina Fox]]></Value>
    </staffName>
    <staffRole>
      <Value><![CDATA[[
  "CEO",
  "Co-Founder"
]]]></Value>
    </staffRole>
  </Properties>
</Content>