@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
    overflow-y: scroll;
    scrollbar-width: thin;
  }
}
*, *::before, *::after {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html, body, section, div, header, footer, main, aside, nav, blockquote, p, span {
  margin: 0;
  padding: 0;
}

img, svg {
  vertical-align: middle;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: #535656;
}

span {
  color: var(--color-secondary);
  font-weight: 500;
}

.bg-secondary span {
  color: var(--color-primary);
  font-weight: 600;
}

blockquote span {
  position: relative;
}
blockquote span::before, blockquote span::after {
  position: absolute;
  font-family: "Font Awesome 6 Pro";
  font-size: 18px;
  font-weight: 500;
}
blockquote span::before {
  content: "\f10d";
  top: 0;
  left: -1.5rem;
}
blockquote span::after {
  content: "\f10e";
  bottom: 0;
  right: -1.5rem;
}

.container, .container-fluid {
  position: relative;
  width: 100%;
  padding: 0 1rem;
  margin: 0 auto;
  z-index: 100;
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
    padding: 0;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1200px;
  }
}
@media (min-width: 1920px) {
  .container {
    max-width: 1200px;
  }
}

@media (min-width: 1400px) {
  .container-fluid {
    max-width: 1920px;
  }
}

a {
  display: inline-block;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1em;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a[target=_blank]::after {
  content: "\f08e";
  font-family: "Font Awesome 6 Pro";
  display: inline-block;
  vertical-align: middle;
  font-size: 0.8rem;
  margin-left: 0.3em;
  margin-top: -0.9em;
}

.btn-dark, .btn-primary, .btn-secondary, .btn-accent, .btn-gray, .btn-light {
  display: flex;
  justify-content: center;
  cursor: pointer;
  border-radius: 3px;
  border: 1px solid;
  padding: 10px 20px;
  text-align: center !important;
  font-size: 16px;
  transition: 0.25s;
  text-decoration: none !important;
}
@media (min-width: 768px) {
  .btn-dark, .btn-primary, .btn-secondary, .btn-accent, .btn-gray, .btn-light {
    display: inline-block;
    text-align: center;
    padding: 15px 40px;
  }
}
.btn-dark:hover, .btn-primary:hover, .btn-secondary:hover, .btn-accent:hover, .btn-gray:hover, .btn-light:hover {
  transition: 0.25s;
  text-decoration: none;
}

.btn-menu {
  text-align: center;
  align-content: center;
  cursor: pointer;
  border-radius: 50%;
  border: 1px solid;
  transition: 0.25s;
  text-decoration: none !important;
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  height: 55px;
  width: 55px;
  font-size: 1.6rem;
}
.btn-menu:hover {
  transition: 0.25s;
  text-decoration: none;
}

.tag {
  text-align: center;
  background-color: var(--color-gray);
  padding: 0.5rem 1rem;
  border: 1px solid var(--color-border-gray);
  border-radius: 2rem;
  margin: 0.2rem;
}

p {
  margin: 0;
  padding: 0 0 1em 0;
}

blockquote {
  font-style: italic;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  text-decoration: none !important;
  margin: 0 0 0.5em 0;
  line-height: 1.4;
}

h1 {
  font-size: 40px;
}
@media (min-width: 768px) {
  h1 {
    font-size: 56px;
  }
}
@media (min-width: 1400px) {
  h1 {
    font-size: 70px;
  }
}

h2 {
  font-size: 22px;
}
@media (min-width: 768px) {
  h2 {
    font-size: 30px;
  }
}
@media (min-width: 1400px) {
  h2 {
    font-size: 40px;
  }
}

h3 {
  font-size: 18px;
}
@media (min-width: 768px) {
  h3 {
    font-size: 22px;
  }
}
@media (min-width: 1400px) {
  h3 {
    font-size: 30px;
  }
}

h4 {
  font-size: 16px;
}
@media (min-width: 768px) {
  h4 {
    font-size: 18px;
  }
}
@media (min-width: 1400px) {
  h4 {
    font-size: 22px;
  }
}

h5 {
  font-size: 14px;
}
@media (min-width: 768px) {
  h5 {
    font-size: 16px;
  }
}
@media (min-width: 1400px) {
  h5 {
    font-size: 18px;
  }
}

h6 {
  font-size: 12px;
}
@media (min-width: 768px) {
  h6 {
    font-size: 12px;
  }
}
@media (min-width: 1400px) {
  h6 {
    font-size: 14px;
  }
}

.form-wrapper {
  box-shadow: 0 10px 8px 5px var(--color-gray);
}
@media (min-width: 1400px) {
  .form-wrapper {
    position: absolute;
    z-index: 10;
    right: 0rem;
    top: -10rem;
  }
}
.form-wrapper .form-header {
  padding: 2rem 5rem 2rem 3rem;
  border-radius: 3px 3px 0 0;
}
.form-wrapper .form-header h3 {
  margin: 0;
}
.form-wrapper form {
  padding: 2rem 1.5rem 2.5rem;
  border: 1px solid var(--color-border-dark-transparent);
  border-radius: 0 0 3px 3px;
}
.form-wrapper form .input-group {
  position: relative;
  margin: 1rem 0;
}
.form-wrapper form .input-group input, .form-wrapper form .input-group select, .form-wrapper form .input-group textarea {
  width: 100%;
  padding: 0.5rem;
  outline: none;
  border: 1px solid var(--color-border-dark-transparent);
  border-radius: 3px;
}
.form-wrapper form .input-group .form-input-error {
  display: none;
}
.form-wrapper form .input-group .form-invalid-input {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 12px;
  display: inline-block;
  color: red;
}
.form-wrapper form .input-group textarea {
  resize: none;
}
.form-wrapper .form-success {
  text-align: center;
  margin: 1rem 0;
  background-color: rgba(127, 218, 107, 0.6274509804);
  padding: 0.2rem 1rem;
  border: 1px solid #7fda6b;
  border-radius: 8px;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 1rem 0 0;
}
@media (min-width: 768px) {
  .pagination {
    margin: 2rem 0 0;
  }
}
.pagination a {
  margin: 0 0.25rem;
}
.pagination .prev-next {
  padding: 0.25rem 0.5rem;
}
.pagination .prev-next {
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 4rem;
}
.pagination .prev-next:hover {
  text-decoration: none;
  background-color: var(--color-gray);
  border: 1px solid var(--color-border-gray);
}
.pagination .btn-pagination.active {
  text-align: center;
  align-content: center;
  cursor: pointer;
  border-radius: 50%;
  border: 1px solid;
  transition: 0.25s;
  text-decoration: none !important;
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  height: 2rem;
  width: 2rem;
}
.pagination .btn-pagination.active:hover {
  transition: 0.25s;
  text-decoration: none;
}
.pagination .btn-pagination:hover:not(.active) {
  text-decoration: underline;
}
.pagination .inactive {
  opacity: 50%;
}
.pagination .inactive:hover {
  text-decoration: line-through;
  background-color: rgba(255, 0, 0, 0.2);
}

.background-image-absolute {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  background-repeat: no-repeat;
  height: 100%;
}

.set-img-bottom {
  bottom: 0;
}

.set-img-right {
  transform: translateX(0);
}

.set-img-left {
  left: 0;
  transform: translateX(0);
}

.spacing-top {
  padding-top: 1rem;
}
@media (min-width: 768px) {
  .spacing-top {
    padding-top: 3rem;
  }
}
@media (min-width: 1400px) {
  .spacing-top {
    padding-top: 6rem;
  }
}

.spacing-bottom {
  padding-bottom: 1rem;
}
@media (min-width: 768px) {
  .spacing-bottom {
    padding-bottom: 3rem;
  }
}
@media (min-width: 1400px) {
  .spacing-bottom {
    padding-bottom: 6rem;
  }
}

.center {
  text-align: center;
}

.btn-align-center {
  text-align: center;
}

.btn-align-start {
  text-align: start;
}

.text-align-center {
  text-align: center;
}

.text-align-start {
  text-align: start;
}

.background {
  position: absolute;
  inset: 0;
  z-index: 0;
}

.background-absolute-negative-spacing-bottom {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 10%;
  right: 0;
}

p.bg {
  background-color: transparent;
}

h2.bg {
  background-color: transparent;
}

.image-formatting {
  max-width: 100%;
}
.center-image {
  margin: 0 auto;
}

.image-borders-rounded {
  border-radius: 4px;
}

.img-margin-top {
  margin-top: 1rem;
}
@media (min-width: 768px) {
  .img-margin-top {
    margin-top: 2rem;
  }
}

.img-margin-bottom {
  margin-bottom: 1rem;
}
@media (min-width: 768px) {
  .img-margin-bottom {
    margin-bottom: 2rem;
  }
}

.center-headline {
  text-align: center;
}
@media (min-width: 1400px) {
  .center-headline h2 {
    padding: 0 25%;
  }
}

section {
  max-width: 100%;
  margin: 0;
  padding: 0;
}

#hero {
  overflow-x: hidden;
}

.content span {
  color: var(--color-default);
}
.content blockquote {
  margin: 0 0 1rem;
}

.review-stars {
  margin: 1rem 0;
}

.wrapper {
  display: grid;
  grid-template-rows: auto 1fr auto !important;
  height: 100vh;
}
@media (min-width: 768px) {
  .wrapper {
    grid-template-rows: auto auto 1fr auto !important;
  }
}

.map-wrapper {
  padding: 0;
}
.map-wrapper .google-map {
  height: 20rem;
  width: 100%;
  opacity: 40%;
}
@media (min-width: 768px) {
  .map-wrapper .google-map {
    height: 25rem;
  }
}
@media (min-width: 1400px) {
  .map-wrapper .google-map {
    height: 30rem;
  }
}

#topbar {
  margin: 0;
  padding: 0;
  max-height: 90px;
}
@media (min-width: 768px) {
  #topbar {
    max-height: 49px;
  }
}
#topbar .container {
  display: grid;
  grid-template-areas: "address" "social";
}
@media (min-width: 768px) {
  #topbar .container {
    grid-template-areas: "address social";
  }
}
#topbar .container .address {
  grid-area: address;
  text-align: center;
}
@media (min-width: 768px) {
  #topbar .container .address {
    text-align: start;
  }
}
#topbar .container .address p {
  font-size: 13px;
  padding: 0.4rem 0;
}
@media (min-width: 768px) {
  #topbar .container .address p {
    padding: 0.8rem 0;
  }
}
#topbar .container .social-media {
  grid-area: social;
  display: flex;
  justify-content: space-evenly;
  padding: 0 0 0.4rem;
}
@media (min-width: 768px) {
  #topbar .container .social-media {
    justify-content: flex-end;
    padding: 0;
  }
}
#topbar .container .social-media a {
  padding: 0.8rem 1.2rem;
}
#topbar .container .social-media a::after {
  content: none;
}
@media (min-width: 768px) {
  #topbar .container .social-media a {
    border-left: 1px solid var(--color-light);
  }
  #topbar .container .social-media a:last-child {
    border-right: 1px solid var(--color-light);
  }
}

header nav {
  position: relative;
  z-index: 1;
}
header nav .container {
  display: grid;
  grid-template-areas: "logo mobile-menu";
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
}
@media (min-width: 768px) {
  header nav .container {
    grid-template-areas: "logo links search";
    padding: 1rem 0;
  }
}
header nav .container .brand-logo {
  grid-area: logo;
}
header nav .container #menuBars {
  grid-area: mobile-menu;
  font-size: 32px;
  transition: transform 0.25s linear;
}
@media (min-width: 768px) {
  header nav .container #menuBars {
    display: none;
  }
}
header nav .container #mobileMenu {
  transform: translateX(-100%);
  transition: transform 0.25s ease-in-out;
  position: absolute;
  top: 100%;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  padding: 0 1.5rem;
}
@media (min-width: 768px) {
  header nav .container #mobileMenu {
    display: none;
  }
}
header nav .container #mobileMenu[aria-expanded=true] {
  transform: translateX(0);
}
header nav .container #mobileMenu a {
  padding: 1rem;
  border-top: 1px solid var(--color-border-gray);
}
header nav .container #mobileMenu a:focus :active {
  background-color: var(--color-accent);
}
header nav .container #mobileMenu a:last-child {
  border-bottom: 1px solid var(--color-border-gray);
}
header nav .container .nav-links {
  grid-area: links;
  display: none;
}
header nav .container .nav-links .nav-link {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  text-decoration: none !important;
  color: var(--color-default);
}
header nav .container .nav-links .nav-link:hover {
  text-decoration: underline !important;
  text-underline-offset: 2px;
}
header nav .container .nav-links .nav-link.active {
  color: var(--color-secondary);
}
header nav .container .nav-links .nav-link.active:hover {
  text-decoration: none !important;
}
@media (min-width: 768px) {
  header nav .container .nav-links {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
  }
}
@media (min-width: 1400px) {
  header nav .container .nav-links {
    gap: 4rem;
  }
}
header nav .container form {
  grid-area: search;
  display: none;
}
@media (min-width: 768px) {
  header nav .container form {
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    gap: 0.1rem;
    margin: auto 0;
  }
}
@media (min-width: 1400px) {
  header nav .container form {
    max-width: 145px;
    gap: 0.5rem;
  }
}
header nav .container form input {
  outline: none;
  border: 1px solid var(--color-border-gray);
  border-radius: 5px;
  padding: 0.15rem;
}
header nav .container form input:hover, header nav .container form input :focus, header nav .container form input :active {
  outline: auto;
}
header nav .container form button {
  border: 3px solid transparent;
  border-radius: 4px;
  outline: none;
}
header nav .container form button:hover, header nav .container form button:focus {
  border: 3px solid var(--color-border-gray);
  background-color: var(--color-accent);
}

footer .container {
  padding: 0 15%;
  text-align: center;
}
@media (min-width: 768px) {
  footer .container {
    padding: 0;
    text-align: start;
  }
}
footer .container p {
  padding: 1rem;
}

#breadcrumbs {
  display: none;
}
@media (min-width: 768px) {
  #breadcrumbs {
    display: block;
  }
}
#breadcrumbs .container {
  position: relative;
  max-height: 20rem;
  padding: 2rem 0;
  text-align: center;
}
#breadcrumbs .container .globe-left, #breadcrumbs .container .globe-right {
  position: absolute;
  max-height: 100%;
  z-index: 10;
}
#breadcrumbs .container .globe-left img, #breadcrumbs .container .globe-right img {
  width: auto;
  max-height: 3rem;
}
@media (min-width: 768px) {
  #breadcrumbs .container .globe-left img, #breadcrumbs .container .globe-right img {
    max-height: 5rem;
  }
}
@media (min-width: 1400px) {
  #breadcrumbs .container .globe-left img, #breadcrumbs .container .globe-right img {
    max-height: 8rem;
  }
}
#breadcrumbs .container .globe-left {
  bottom: 0;
  left: 0;
}
#breadcrumbs .container .globe-right {
  top: 0;
  right: 0;
}
#breadcrumbs .container ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
  position: relative;
  z-index: 100;
}
#breadcrumbs .container ul .divider {
  color: var(--color-default);
  margin-right: 0.2rem;
}
#breadcrumbs .container ul a {
  color: var(--color-default);
}
#breadcrumbs .container ul li {
  color: var(--color-secondary);
}

#contact-details {
  padding: 2rem 0 0 0;
}
@media (min-width: 1400px) {
  #contact-details {
    padding: 4rem 0 0 0;
  }
}
@media (min-width: 1400px) {
  #contact-details .container {
    display: flex;
    justify-content: space-between;
  }
}
#contact-details .container .image-wrapper {
  background-image: url(/img/dottedBg-1.svg);
  background-repeat: no-repeat;
  background-size: 75%;
  background-position: bottom left;
}
#contact-details .container .image-wrapper img {
  width: 50%;
}
@media (min-width: 1400px) {
  #contact-details .container .image-wrapper img {
    width: 100%;
  }
}
@media (min-width: 1400px) {
  #contact-details .container .image-wrapper {
    background-position: bottom left;
    flex: 1;
    padding: 4rem 15rem 0 0;
  }
}
#contact-details .container .text-wrapper {
  padding: 1rem 10%;
}
@media (min-width: 1400px) {
  #contact-details .container .text-wrapper {
    flex: 1;
    padding: 15% 1%;
  }
}
#contact-details .container .text-wrapper .contact-box {
  display: flex;
  gap: 0 1rem;
}
#contact-details .container .text-wrapper .contact-box p {
  font-size: 12px;
}
@media (min-width: 768px) {
  #contact-details .container .text-wrapper .contact-box {
    margin: 0 0 1rem;
  }
}

#brands .grid-container {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  padding: 2rem 0;
  gap: 1rem;
}
@media (min-width: 1400px) {
  #brands .grid-container {
    grid-template-columns: auto auto auto auto auto auto;
    justify-content: space-between;
    padding: 5rem 0;
  }
}
#brands .grid-container .brand-grid-item {
  text-align: center;
}
#brands .grid-container .brand-grid-item img {
  width: 50%;
}
@media (min-width: 768px) {
  #brands .grid-container .brand-grid-item img {
    width: 100%;
  }
}

.service-grid-container {
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
  gap: 1rem 0;
}
@media (min-width: 768px) {
  .service-grid-container {
    gap: 2rem;
    grid-template-columns: auto auto;
  }
}
@media (min-width: 1400px) {
  .service-grid-container {
    grid-template-columns: auto auto auto;
  }
}
.service-grid-container .grid-box {
  max-width: 343px;
  border: 1px solid var(--color-border-gray);
  border-radius: 3px;
  text-decoration: none;
  transition: 0.15s ease-out;
  box-shadow: 0 10px 8px 5px var(--color-gray);
  background-color: var(--color-light) !important;
}
@media (min-width: 768px) {
  .service-grid-container .grid-box {
    padding: 1rem 0;
    max-width: 344px;
  }
}
@media (min-width: 1400px) {
  .service-grid-container .grid-box {
    padding: 1rem 0;
    max-width: 400px;
  }
}
.service-grid-container .grid-box h4 {
  padding: 0.8rem 1.2rem;
}
.service-grid-container .grid-box p {
  font-size: 12px;
  padding: 1.5rem;
  color: var(--color-default);
}
@media (min-width: 1400px) {
  .service-grid-container .grid-box p {
    font-size: 14px;
  }
}
.service-grid-container .grid-box .image-wrapper {
  overflow: hidden;
}
.service-grid-container .grid-box .image-wrapper img {
  max-width: inherit;
  transition: 0.25s ease-out;
}
.service-grid-container .grid-box:hover {
  transition: 0.15s ease-in;
  opacity: 50%;
}
.service-grid-container .grid-box:hover .image-wrapper img {
  transform: rotate(3deg) scale(120%);
  transition: 0.25s ease-in;
}

section {
  position: relative;
  max-width: 100%;
  margin: 0;
  padding: 0;
  z-index: 0;
}

#hero {
  overflow-x: hidden;
}

.project-grid-container {
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
}
@media (min-width: 768px) {
  .project-grid-container {
    grid-template-columns: auto auto;
  }
}
@media (min-width: 1400px) {
  .project-grid-container {
    grid-template-columns: auto auto auto auto;
  }
}
.project-grid-container .grid-box {
  position: relative;
  width: 100%;
  max-width: 100%;
}
.project-grid-container .grid-box img {
  transition: 0.25s ease-out;
  max-width: 100%;
}
.project-grid-container .grid-box .text-box-bottom {
  position: absolute;
  bottom: 0;
  width: inherit;
  opacity: 60%;
  padding: 1rem;
  transition: 0.25s ease-out;
  display: flex;
  justify-content: space-between;
}
.project-grid-container .grid-box .text-box-bottom .text p, .project-grid-container .grid-box .text-box-bottom .text span {
  font-size: 18px;
  color: var(--color-light);
  opacity: 200%;
}
.project-grid-container .grid-box .text-box-bottom .arrow-right {
  display: none;
}
.project-grid-container .grid-box:hover img {
  opacity: 50%;
  transition: 0.25s ease-in;
}
.project-grid-container .grid-box:hover .text-box-bottom {
  padding: 2rem 1rem;
  opacity: 100%;
  transition: 0.25s ease-in;
}
.project-grid-container .grid-box:hover .text-box-bottom .text span {
  color: var(--color-secondary);
}
.project-grid-container .grid-box:hover .text-box-bottom .arrow-right {
  display: inline-block;
  padding: 0.5rem 4rem 0 0;
}
.project-grid-container .grid-box:hover .text-box-bottom .arrow-right i {
  font-size: 40px;
}

.success-story {
  /*    max-height: 300px;
      background-image: url(/img/dot-map2.svg);
      background-size: 90%;
      background-position: 50% 30%;
      background-repeat: no-repeat;
      text-align: center;
      padding: 2rem 0 2rem;

      @include tablet {
          max-height: 400px;
          height: 400px;
          background-size: 60%;
      }

      @include desktop {
          padding: 4rem 0 0;
          max-height: 900px;
          height: 900px;
          background-size: 1116px;
      }*/
}
.success-story .container {
  /*position: relative;*/
}
.success-story .container .text-wrapper {
  /*        @include desktop {
              margin: 2rem 0;
          }*/
}
.success-story .container .grid-container {
  /*            display: grid;
              grid-template-columns:  auto auto auto;
              gap: 1rem;*/
}
.success-story .container .grid-container .grid-box h1 {
  /*                  @include desktop {
                        font-size: 100px;
                        margin: 0;
                    }*/
}
.success-story .container .grid-container .grid-box p {
  /*                    font-size: 10px;

                      @include tablet {
                          padding: 0 1rem; // to push text to center.                        
                      }

                      @include desktop {
                          font-size: 18;
                          font-weight: 600;
                      }*/
}
.success-story .image-wrapper {
  /*        display: none;

          @include tablet {
              display: block;
              position: absolute;
              bottom: -160%;
              left: 50%;
              transform: translateX(-50%);
          }

          @include desktop {
              bottom: -240%;
          }*/
}
.success-story .image-wrapper img {
  /*            max-width: 90%;

              @include tablet {
                  max-width: 600px;
              }

              @include desktop {
                  max-width: 970px;
              }*/
}

/*.our-projects-index {
    .container {
        .text-wrapper {
            text-align: center;
            padding: 2rem 0;

            @include tablet {
                text-align: start;
                padding: 14rem 0 0;
            }
        }
    }

    .projects-slider {
        .grid-container {
            display: grid;
            grid-template-columns: auto;
            justify-content: center;

            @include tablet {
                grid-template-columns: auto auto;
            }

            @include desktop {
                grid-template-columns: auto auto auto auto;
            }

            .grid-box {
                position: relative;
                width: 100%; // to make sure text-box-bottom stretches the whole image.
                max-width: 100%;

                img {
                    transition: 0.25s ease-out;
                    max-width: 100%;
                }

                .text-box-bottom {
                    position: absolute;
                    bottom: 0;
                    width: inherit;
                    opacity: 60%;
                    padding: 1rem;
                    transition: 0.25s ease-out;
                    display: flex;
                    justify-content: space-between;

                    .text {
                        p, span{
                            font-size: 18px;
                            color: var(--color-light);
                            opacity: 200%;
                        }
                    }

                    .arrow-right {
                        display: none;
                    }

                }

                &:hover {

                    img {
                        // sort out a zoom function for the picture withut affeting the size of the box.
                        opacity: 50%;
                        transition: 0.25s ease-in;

                    }

                    .text-box-bottom {
                        padding: 2rem 1rem;
                        opacity: 100%;
                        transition: 0.25s ease-in;

                        .text {
                            span{
                                color: var(--color-secondary);
                            }
                        }

                        .arrow-right {
                            display: inline-block;
                            padding: 0.5rem 4rem 0 0;
                            i {
                                font-size: 40px;
                            }
                        }
                    }
                }
            }
        }
    }
}*/
.our-experts {
  background-color: red;
  padding: 2rem 0;
}
@media (min-width: 768px) {
  .our-experts {
    padding: 3rem 0;
  }
}
@media (min-width: 1400px) {
  .our-experts {
    padding: 6rem 0;
  }
}
.our-experts .container .text-wrapper {
  margin: 0 0 1rem;
  text-align: center;
}
@media (min-width: 768px) {
  .our-experts .container .text-wrapper {
    margin: 0 0 2rem;
  }
}
@media (min-width: 768px) {
  .our-experts .container .text-wrapper {
    padding: 0 26%;
  }
}
.our-experts .container .grid-container {
  display: grid;
  justify-content: center;
  gap: 1rem;
  grid-template-areas: "Tina Tina" "BrandonN AJ" "Aaron BrandonK" "Miranda Kevin";
}
@media (min-width: 768px) {
  .our-experts .container .grid-container {
    gap: 2rem 1rem;
    grid-template-areas: "Tina Tina BrandonK BrandonK" "BrandonN BrandonN AJ AJ" ". Aaron Aaron ." "Miranda Miranda Kevin Kevin";
  }
}
@media (min-width: 1400px) {
  .our-experts .container .grid-container {
    gap: 3rem 2rem;
    grid-template-areas: "BrandonN BrandonN BrandonN BrandonN AJ AJ AJ AJ Aaron Aaron Aaron Aaron" "Tina Tina Tina BrandonK BrandonK BrandonK Miranda Miranda Miranda Kevin Kevin Kevin";
  }
}
.our-experts .container .grid-container .brandonN {
  grid-area: BrandonN;
}
.our-experts .container .grid-container .tina {
  grid-area: Tina;
}
.our-experts .container .grid-container .aj {
  grid-area: AJ;
}
.our-experts .container .grid-container .aaron {
  grid-area: Aaron;
}
.our-experts .container .grid-container .brandonK {
  grid-area: BrandonK;
}
.our-experts .container .grid-container .miranda {
  grid-area: Miranda;
}
.our-experts .container .grid-container .kevin {
  grid-area: Kevin;
}
.our-experts .container .grid-container .card {
  border: 1px solid var(--color-border-gray);
  border-radius: 3px;
}
.our-experts .container .grid-container .card .image-wrapper {
  overflow: hidden;
}
.our-experts .container .grid-container .card .image-wrapper img {
  max-width: 100%;
  max-height: auto;
  width: 100%;
  max-width: inherit;
  transition: 0.25s ease-out;
}
.our-experts .container .grid-container .card .image-wrapper img:hover {
  transform: scale(110%);
  transition: 0.25s ease-in;
}
.our-experts .container .grid-container .card .bottom-box {
  padding: 0.5rem;
}
.our-experts .container .grid-container .card .bottom-box h4 {
  margin: 0;
}
.our-experts .container .grid-container .card .bottom-box p {
  padding: 0;
  font-size: 12px;
}

#service-details .container {
  display: grid;
  grid-template-areas: "main" "sidebar";
}
@media (min-width: 768px) {
  #service-details .container {
    grid-template-areas: "sidebar main main main main";
  }
  #service-details .container .sidebar {
    padding: 0 3rem 0 0;
    border-right: 1px solid var(--color-border-gray);
  }
}
#service-details .container .sidebar {
  grid-area: sidebar;
  width: 300px;
  padding: 0 3rem 0 0;
}
#service-details .container .sidebar p {
  font-size: 14px;
  padding: 0 2rem 0 0;
}
#service-details .container .sidebar .about-us {
  margin: 2rem 0;
}
#service-details .container .sidebar .about-us .image-wrapper {
  margin: 0 0 0.5rem;
}
#service-details .container .sidebar .about-us .image-wrapper img {
  width: 100%;
}
#service-details .container .sidebar .online-support {
  margin: 1rem 0;
  padding: 1rem;
}
#service-details .container .sidebar .online-support h3 {
  font-size: 16px;
}
#service-details .container .sidebar .online-support form {
  position: relative;
}
#service-details .container .sidebar .online-support form input {
  width: 100%;
  margin: 0.5rem 0;
  padding: 1rem;
  font-size: 12px;
}
#service-details .container .sidebar .online-support form input[placeholder] {
  font-style: italic;
}
#service-details .container .sidebar .online-support form button {
  background-color: transparent;
  border: none;
  color: var(--color-default);
  position: absolute;
  top: calc(50% - 0.5rem);
  right: 0.5rem;
}
#service-details .container .main {
  grid-area: main;
}
@media (min-width: 1400px) {
  #service-details .container .main {
    padding: 0 0 0 3rem;
  }
}
#service-details .container .main figure {
  margin: 1rem 0;
  padding: 0;
}
#service-details .container .main figure img {
  aspect-ratio: inherit;
  max-width: 800px;
  width: 100%;
  height: auto;
}
@media (min-width: 1400px) {
  #service-details .container .main .image-wrapper {
    max-width: 900px;
    margin: 0 0 2rem;
  }
}
#service-details .container .main .image-wrapper img {
  width: 100%;
}
#service-details .container .main span {
  margin: 0 0.5rem 0 0;
}
@media (min-width: 768px) {
  #service-details .container.sidebar-right {
    grid-template-areas: "main main main sidebar";
  }
  #service-details .container.sidebar-right .sidebar {
    padding: 0 0 0 3rem;
    border-left: 1px solid var(--color-border-gray);
    border-right: none;
  }
}
@media (min-width: 768px) and (min-width: 768px) {
  #service-details .container.sidebar-right .main {
    padding: 0 3rem 0 0;
  }
}

#service-details-contact-form {
  padding: 2rem 0;
}
@media (min-width: 1400px) {
  #service-details-contact-form {
    padding: 4rem 0;
  }
}
#service-details-contact-form .container {
  display: flex;
  justify-content: center;
  max-width: 1200px;
}
#service-details-contact-form .container .form-wrapper {
  position: relative;
  inset: unset;
  border: none;
  box-shadow: none;
  max-width: 1200px;
}
#service-details-contact-form .container .form-wrapper .form-header {
  padding: 2rem 0;
}
#service-details-contact-form .container .form-wrapper form {
  width: 1200px;
  display: grid;
  grid-template-areas: "name email" "message message";
  border: none;
  gap: 1rem;
  padding: 0;
}
#service-details-contact-form .container .form-wrapper form .form-name {
  grid-area: name;
  width: 100%;
}
#service-details-contact-form .container .form-wrapper form .form-email {
  grid-area: email;
  width: 100%;
}
#service-details-contact-form .container .form-wrapper form .form-message {
  grid-area: message;
}
#service-details-contact-form .container .form-wrapper form .form-message textarea {
  width: 100%;
}
#service-details-contact-form .container .form-wrapper form button {
  max-width: 8rem;
}

#our-projects .container {
  display: grid;
  grid-template-areas: "main" "sidebar";
}
@media (min-width: 768px) {
  #our-projects .container {
    grid-template-areas: "main main main main main sidebar";
  }
}
@media (min-width: 1400px) {
  #our-projects .container {
    padding: 4rem 0;
  }
}
#our-projects .container .sidebar {
  grid-area: sidebar;
  max-width: 350px;
  padding: 0 0 0 3rem;
}
#our-projects .container .sidebar .tag-grid {
  display: grid;
  grid-template-columns: auto auto;
  padding: 2rem 0;
}
#our-projects .container .sidebar p {
  font-size: 14px;
  padding: 0 2rem 0 0;
}
#our-projects .container .sidebar .online-support {
  padding: 1rem;
}
#our-projects .container .sidebar .online-support h3 {
  font-size: 22px;
}
#our-projects .container .project-grid-container {
  grid-area: main;
  max-width: 100%;
  grid-template-columns: auto;
}
@media (min-width: 1400px) {
  #our-projects .container .project-grid-container {
    padding: 0 3rem 0 0;
    border-right: 1px solid var(--color-border-gray);
    gap: 0;
  }
}
#our-projects .container .project-grid-container .projects-box {
  display: flex;
  padding: 2rem 0;
  border-bottoM: 1px solid var(--color-border-gray);
}
#our-projects .container .project-grid-container .projects-box:first-child {
  padding-top: 0;
}
#our-projects .container .project-grid-container .projects-box:last-child {
  border: none;
}
#our-projects .container .project-grid-container .projects-box .image-wrapper {
  flex: 1;
  max-width: 100vw;
}
@media (min-width: 1400px) {
  #our-projects .container .project-grid-container .projects-box .image-wrapper {
    max-width: 900px;
    max-height: 600px;
    margin: 0 0 2rem;
  }
}
#our-projects .container .project-grid-container .projects-box .image-wrapper img {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 3/2;
  overflow: hidden;
}
#our-projects .container .project-grid-container .projects-box .text-wrapper {
  flex: 1;
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  padding: 0.5rem 1rem;
}
#our-projects .container .project-grid-container .projects-box .text-wrapper h4 {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
#our-projects .container .project-grid-container .projects-box .text-wrapper .fa-calendar-days {
  margin: 0 1rem 0 0;
}
#our-projects .container .project-grid-container .projects-box .text-wrapper .fa-arrow-right-long {
  margin: 0 1rem;
}

.our-projects .container .project-details i {
  justify-items: baseline;
  font-size: 6px;
  margin: 0 1rem;
}
.our-projects .container .project-details .flex-container {
  display: flex;
  gap: 1rem;
  margin: 1rem 0;
}
.our-projects .container .project-details .bottom-tag-wrapper {
  display: flex;
  align-items: baseline;
  margin: 1rem 0;
}
.our-projects .container .project-details .bottom-tag-wrapper h5 {
  margin: 0 1rem 0 0;
}
.our-projects .container .project-details .bottom-tag-wrapper .btn-accent {
  padding: 0.3rem 1rem;
  border-radius: 2rem;
  margin: 0 1rem 0 0;
}

.contact {
  position: relative;
}
.contact .map-wrapper {
  padding: 0;
}
.contact .map-wrapper .google-map {
  height: 20rem;
  width: 100%;
  opacity: 40%;
}
@media (min-width: 768px) {
  .contact .map-wrapper .google-map {
    height: 25rem;
  }
}
@media (min-width: 1400px) {
  .contact .map-wrapper .google-map {
    height: 30rem;
  }
}
.contact .container {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
}
.contact .container .form-wrapper {
  box-shadow: 0 10px 8px 5px var(--color-gray);
  padding: 2rem;
}
@media (min-width: 1400px) {
  .contact .container .form-wrapper {
    max-width: 100%;
    padding: 4rem 2rem 2rem;
    margin: 0 auto;
  }
}
.contact .container .form-wrapper .text-wrapper {
  text-align: center;
}
.contact .container .form-wrapper .form-content {
  display: grid;
  grid-template-columns: auto;
  border: none;
}
@media (min-width: 1400px) {
  .contact .container .form-wrapper .form-content {
    grid-template-columns: auto auto;
    gap: 1rem;
  }
}

@media (min-width: 1400px) {
  .contact-brands {
    padding: 4rem 0 0;
  }
}
