#breadcrumbs {
    //display: none; // If you don't want breadcrumbs displayed in mobile design.

    @include tablet {
        display: block;
    }
    //only changes default stylings for mobile design

    .container {
        position: relative;
        max-height: 20rem;
        padding: 2rem 0;
        text-align: center;

        .globe-left, .globe-right {
            position: absolute;
            max-height: 100%;
            z-index: 10;

            img {
                width: auto;
                max-height: 3rem;

                @include tablet {
                    max-height: 5rem;
                }

                @include desktop {
                    max-height: 8rem;
                }
            }
        }

        .globe-left {
            bottom: 0;
            left: 0;
        }

        .globe-right {
            top: 0;
            right: 0;
        }

        ul {
            list-style: none;
            display: flex;
            justify-content: center;
            padding: 0;
            position: relative;
            z-index: 100;

            .divider {
                color: var(--color-default);
                margin-right: 0.2rem;
            }

            a {
                color: var(--color-default);
            }

            li {
                color: var(--color-secondary);
            }
        }
    }
    // This is for changing styles only in mobile design.
    @media (max-width: 767px) {
        .container {
            max-width: calc(100vw - 1rem) !important;
            padding: 1rem;

            h1 {
                font-size: 20px;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
            }

            .breadcrumb {

                a, li {
                    font-size: 12px;
                    white-space: nowrap;
                }

                .active {
                    text-overflow: ellipsis;
                    overflow: hidden;
                }
            }
        }
    }
}
