#topbar {
    margin: 0;
    padding: 0;
    max-height: 90px;

    @include tablet {
        max-height: 49px;
    }

    .container {
        display: grid;
        grid-template-areas:
            'address' 'social';

        @include tablet {
            grid-template-areas:
                'address social';
        }

        .address {
            grid-area: address;
            text-align: center;

            @include tablet {
                text-align: start;
            }

            p {
                font-size: 13px;
                padding: 0.4rem 0;

                @include tablet {
                    padding: 0.8rem 0;
                }
            }
        }

        .social-media {
            grid-area: social;
            display: flex;
            justify-content: space-evenly;
            padding: 0 0 0.4rem;

            @include tablet {
                justify-content: flex-end;
                padding: 0;
            }

            a {
                padding: 0.8rem 1.2rem;

                &::after {
                    content: none;
                }

                @include tablet {
                    border-left: 1px solid var(--color-light);

                    &:last-child {
                        border-right: 1px solid var(--color-light);
                    }
                }
            }
        }
    }
}
