<?xml version="1.0" encoding="utf-8"?>
<Media Key="ce50bd69-971b-40b8-b31b-5314be985d87" Alias="BrandonK1.png" Level="2">
  <Info>
    <Parent Key="453a6296-81e9-4566-a665-263a8f5aefb9">Staff</Parent>
    <Path>/Staff/BrandonK1png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-19T16:20:29</CreateDate>
    <NodeName Default="BrandonK1.png" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/2z1bm4ds/brandonk1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>