<?xml version="1.0" encoding="utf-8"?>
<Media Key="40e198c2-e124-42b4-bf27-b864b82e5977" Alias="brand6.png" Level="2">
  <Info>
    <Parent Key="f67f2c53-7d5d-4f3b-9922-505675524b30">Partner Brands</Parent>
    <Path>/PartnerBrands/brand6png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-12T12:35:23</CreateDate>
    <NodeName Default="brand6.png" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/jvjkp3sn/brand6.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>