<?xml version="1.0" encoding="utf-8"?>
<Media Key="4850bc4c-9e04-4b7f-8705-9776b54bf88d" Alias="brand2.png" Level="2">
  <Info>
    <Parent Key="f67f2c53-7d5d-4f3b-9922-505675524b30">Partner Brands</Parent>
    <Path>/PartnerBrands/brand2png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-12T12:35:23</CreateDate>
    <NodeName Default="brand2.png" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/yn1bn5tn/brand2.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>