<?xml version="1.0" encoding="utf-8"?>
<Media Key="b15f646c-516a-43ec-894b-68541ed4bbf8" Alias="dot-map1.png" Level="2">
  <Info>
    <Parent Key="381b17db-356a-43a3-94cb-3bbfeb00d8cf">Backgrounds</Parent>
    <Path>/Backgrounds/dotMap1png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-10T15:00:17</CreateDate>
    <NodeName Default="dot-map1.png" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/2oxbsbyd/dot-map1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>