<?xml version="1.0" encoding="utf-8"?>
<Media Key="42c2e624-85ee-46d9-8bad-cd0dfa7e74d5" Alias="dot-map2.svg" Level="2">
  <Info>
    <Parent Key="381b17db-356a-43a3-94cb-3bbfeb00d8cf">Backgrounds</Parent>
    <Path>/Backgrounds/dotMap2svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-11T13:25:38</CreateDate>
    <NodeName Default="dot-map2.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/0znhbihv/dot-map2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>