<?xml version="1.0" encoding="utf-8"?>
<Media Key="2c1a0c40-9929-4026-8b33-491bd0d3fda9" Alias="favicon.ico" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/faviconico</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2024-10-02T18:10:28</CreateDate>
    <NodeName Default="favicon.ico" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/wnsoddao/favicon.ico]]></Value>
    </umbracoFile>
  </Properties>
</Media>