<?xml version="1.0" encoding="utf-8"?>
<Media Key="2c4e2d80-630c-4179-8c70-3fdd5f02dc6b" Alias="favicon.ico" Level="2">
  <Info>
    <Parent Key="20ce1c5e-97cd-4ade-bc43-154b36332842">General</Parent>
    <Path>/General/faviconico</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2024-09-30T11:58:18</CreateDate>
    <NodeName Default="favicon.ico" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/onclldbl/favicon.ico]]></Value>
    </umbracoFile>
  </Properties>
</Media>