<?xml version="1.0" encoding="utf-8"?>
<Media Key="7e16ba35-584d-4bdb-9aa6-a59f38ad5333" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-26T16:33:37</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>19</SortOrder>
  </Info>
  <Properties />
</Media>