<?xml version="1.0" encoding="utf-8"?>
<Media Key="c852ac1a-c94b-44d9-a77e-4c8ab876d7c2" Alias="kevin-gardner1.png" Level="2">
  <Info>
    <Parent Key="9cf77d6c-1899-4c7b-bbc2-107e885ff4b4">About</Parent>
    <Path>/About/kevinGardner1png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-19T13:30:27</CreateDate>
    <NodeName Default="kevin-gardner1.png" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/svtbi5rc/kevin-gardner1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>