<?xml version="1.0" encoding="utf-8"?>
<Media Key="fedadbed-e1d1-457a-9f0a-3fab658d2fd8" Alias="meeting-room1.png" Level="2">
  <Info>
    <Parent Key="fe3d87c1-c768-4c5e-bfd5-f329f1204d64">Services</Parent>
    <Path>/Services/meetingRoom1png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-10T13:53:47</CreateDate>
    <NodeName Default="meeting-room1.png" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/miijysfy/meeting-room1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>