<?xml version="1.0" encoding="utf-8"?>
<Media Key="09f2de61-9ee0-420d-a7a9-3ad4ec08bc20" Alias="projectSlide1_3.png" Level="2">
  <Info>
    <Parent Key="28b3c022-410e-4658-aa9d-53ee0cdf6005">Projects</Parent>
    <Path>/Projects/projectSlide1_3png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-23T12:24:20</CreateDate>
    <NodeName Default="projectSlide1_3.png" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/3ykljp2j/projectslide1_3.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>