<?xml version="1.0" encoding="utf-8"?>
<Media Key="b2e1c155-f781-49f2-b6bf-14a60bcb2748" Alias="projectSlide1_2.png" Level="2">
  <Info>
    <Parent Key="28b3c022-410e-4658-aa9d-53ee0cdf6005">Projects</Parent>
    <Path>/Projects/projectSlide1_2png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-23T12:24:20</CreateDate>
    <NodeName Default="projectSlide1_2.png" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/1iflobhi/projectslide1_2.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>