<?xml version="1.0" encoding="utf-8"?>
<Media Key="28b3c022-410e-4658-aa9d-53ee0cdf6005" Alias="Projects" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Projects</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-11T14:16:30</CreateDate>
    <NodeName Default="Projects" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties />
</Media>