<?xml version="1.0" encoding="utf-8"?>
<Media Key="62a69733-0b0a-4ce2-a2c7-d6cec1499c0c" Alias="riskManagement1.png" Level="2">
  <Info>
    <Parent Key="fe3d87c1-c768-4c5e-bfd5-f329f1204d64">Services</Parent>
    <Path>/Services/riskManagement1png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-10T13:53:47</CreateDate>
    <NodeName Default="riskManagement1.png" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/xropbvdd/riskmanagement1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>