<?xml version="1.0" encoding="utf-8"?>
<Media Key="0381b062-3857-41ed-a9ad-57b65b5a4f85" Alias="slider1.png" Level="2">
  <Info>
    <Parent Key="28b3c022-410e-4658-aa9d-53ee0cdf6005">Projects</Parent>
    <Path>/Projects/slider1png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-12T11:53:06</CreateDate>
    <NodeName Default="slider1.png" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/3v3mpnj4/slider1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>