<?xml version="1.0" encoding="utf-8"?>
<Media Key="bf3a023c-0980-4c69-8212-5a73ac999471" Alias="slider2.png" Level="2">
  <Info>
    <Parent Key="28b3c022-410e-4658-aa9d-53ee0cdf6005">Projects</Parent>
    <Path>/Projects/slider2png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-12T11:12:33</CreateDate>
    <NodeName Default="slider2.png" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/wpehycpj/slider2.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>