<?xml version="1.0" encoding="utf-8"?>
<Media Key="453a6296-81e9-4566-a665-263a8f5aefb9" Alias="Staff" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Staff</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-19T16:20:18</CreateDate>
    <NodeName Default="Staff" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties />
</Media>