<?xml version="1.0" encoding="utf-8"?>
<Media Key="982cb7a5-34b9-44a4-81cc-87a843953860" Alias="video1.png" Level="2">
  <Info>
    <Parent Key="7e16ba35-584d-4bdb-9aa6-a59f38ad5333">Home</Parent>
    <Path>/Home/video1png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-26T16:38:47</CreateDate>
    <NodeName Default="video1.png" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/fj4hulwq/video1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>