<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<location path="." inheritInChildApplications="false">
		<appSettings>
			<add key="umbracoPath" value="/umbraco" />
		</appSettings>
		<system.webServer>
			<handlers>
				<add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
			</handlers>
			<aspNetCore processPath="dotnet" arguments=".\UmbracoCMS-bawin23.dll" stdoutLogEnabled="true" stdoutLogFile="\\?\%home%\LogFiles\stdout" hostingModel="inprocess" />
			<staticContent>
				<remove fileExtension=".woff" />
				<remove fileExtension=".woff2" />
				<mimeMap fileExtension=".woff" mimeType="application/font-woff" />
				<mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
			</staticContent>
		</system.webServer>
	</location>
</configuration>
<!--ProjectGuid: f7eb846a-0c1e-4d78-a921-20b811a0219f-->


<!--<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
	<appSettings>
		<add key="umbracoPath" value="/umbraco" />
	</appSettings>
	  <staticContent>
		  <remove fileExtension=".woff" />
		  <remove fileExtension=".woff2" />
		  <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
		  <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
	  </staticContent>
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\UmbracoCMS-bawin23.dll" stdoutLogEnabled="true" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" />
    </system.webServer>
  </location>
</configuration>
 ProjectGuid: f7eb846a-0c1e-4d78-a921-20b811a0219f-->

