.our-projects {   
    .container {
        display: grid;
        grid-template-areas:
        'main'
        'sidebar';
    
        @include tablet {
            grid-template-areas:
            'main main main main main sidebar';
        }
        
        @include desktop {
            padding: 4rem 0;
        }
    
        .sidebar {
            grid-area: sidebar;
            max-width: 350px;
            padding: 0 0 0 3rem;
            
            .tag-grid {
                display: grid;
                grid-template-columns: auto auto;
                padding: 2rem 0;
            }
            p {
                font-size: 14px;
                padding: 0 2rem 0 0;
            }
    
            .online-support {
                padding: 1rem;
                h3 {
                    font-size: 22px;
                }
            }
        }
    
        .main {
            grid-area: main;
            max-width: 100%;
    
            @include desktop {
                padding: 0 3rem 0 0;
                border-right: 1px solid var(--color-border-gray);
            }
            
            .projects-box {
                display: flex;
                gap: 1rem;
    
                .image-wrapper {
                    flex: 1;
                    max-width: 100vw;
        
                    @include desktop {
                        max-width: 900px;
                        margin: 0 0 2rem;
                    }
        
                    img {
                        width: 100%;
                    }
                }
    
                .text-wrapper {
                    flex: 1;
                }
            }        
        }
    }

}