.trusted-reviews {
    display: flex;
    flex-direction: column;

    @include desktop {
        flex-direction: row;
        justify-content: center;
        align-content: center;
    }
    
    .text-wrapper {        
        max-height: 460.13px; // to match height of photo.
        max-width: 960px;
        padding: 1rem;
        text-align: center;

        @include tablet {
            padding: 2rem 2rem 2rem 6rem;
            text-align: start;
        }

        @include desktop {
            padding: 4rem 6rem 4rem calc((1920px - 1200px) / 2);
        }            

        .blurb {
            font-size: 20px;
            font-style: italic;
        }

        .stars {
            margin: 0 0 1rem;
        }

        .source {
            font-size: 14px;
            padding: 0;
        }
    }

    .image-wrapper {            
        img {
            width: 100%;
            height: auto;

            @include desktop {
                max-width: 960px;
                width: 50vw;
            }
        }
    }
}