.background {
    position: absolute;
    inset: 0;
    z-index: 0;
}

.background-absolute-negative-spacing-bottom {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 10%;
    right: 0;
}

p {
    &.bg {
        background-color: transparent;
    }
}

h2 {
    &.bg {
        background-color: transparent;
    }
}