.background-image-absolute {
    display: none;

    @media (min-width: 1024px) {
        max-width: 100%;
        display: block;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1;
        background-repeat: no-repeat;
        height: auto;
        object-fit: cover;
    }
}

.set-img-bottom {
    bottom: 0;
}

.set-img-right {
    transform: translateX(0);
}

.set-img-left {
    left: 0;
    transform: translateX(0);
}