.background-image-absolute {
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 1;
    background-repeat: no-repeat;
    aspect-ratio: 3 / 2;
    object-fit: cover;
    max-width: 100vw;
    height: auto;
    transform: translateX(-50%);
    overflow-x: hidden;

    @include tablet {
        //overflow: hidden;
        height: 100%;
    }

    @media (min-width: 1024px) {
        aspect-ratio: initial;
    }
    
    @include desktop {
        max-width: 1920px;
    }
}

.set-img-bottom {
    bottom: 0;
}

.set-img-right {
    //Since default style for background image is left 50% and transform: translate-X(-50%), this resets the translate and sets image to left 50% only.
    transform: translateX(0);

    @include tablet {
        max-width: 50vw;
    }

    @include desktop {
        // Half of the max design width of 1920px
        max-width: 960px;
    }
}

.set-img-left {
    left: 0;
    transform: translateX(0);

    @include desktop {
        max-width: 960px;
    }
}

#hero {
    .background-image-absolute {
        max-height: 210px;

        @include tablet {
            max-height: 100%;
        }
    }
}