.btn-dark, .btn-primary, .btn-secondary, .btn-accent, .btn-gray, .btn-light {
    @include btn;
}

.btn-menu {
    @include btn-circle;
    height: 55px;
    width: 55px;
    font-size: 1.6rem;
}

.tag {
    text-align: center;
    background-color: var(--color-gray);
    padding: 0.5rem 1rem;
    border: 1px solid var(--color-border-gray);
    border-radius: 2rem;
    margin: 0.2rem;
    white-space: nowrap;
}