.btn-dark, .btn-primary, .btn-secondary, .btn-accent, .btn-gray, .btn-light {
    @include btn;
}

.btn-menu {
    @include btn-circle;
    height: 55px;
    width: 55px;
    font-size: 1.6rem;
}

.tag {
    text-align: center;
    background-color: var(--color-gray);
    padding: 0.25rem 0.5rem;
    border: 1px solid var(--color-border-gray);
    border-radius: 2rem;
    margin: 0.2rem;
    white-space: nowrap;
    font-size: 12px;
    cursor: pointer;
    text-decoration: none;

    @include tablet {
        padding: 0.5rem 1rem;
        font-size: 14px;
    }

    @include desktop {
        font-size: 16px;
    }

    &:hover {
        transition: 0.05s ease-in;
        text-decoration: none;
        background-color: var(--color-accent);
        border: 1px solid var(--color-primary) !important;
    }
}

.show-all-tag {
    background-color: var(--color-accent);

    &:hover {
        transition: 0.05s ease-in;
        background-color: var(--color-primary);
        color: var(--color-secondary) !important;
    }
}