.container, .container-fluid {
    position: relative; // interferes with spacing-top and bottom.
    width: 100%;
    padding: 0 1rem;
    margin: 0 auto;
    z-index: 100;
}

.container {
    @include tablet {
        max-width: 720px;
        padding: 0;
    }

    @include desktop {
        max-width: 1200px;
    }

    @include ultra-wide {
        max-width: 1200px;
    }

    .container {
        // if multiple containers are nestled then padding is removed for n+1 containers.
        padding: 0;
    }
}

.container-fluid {
    @include desktop {
        max-width: 1920px;
    }
}