.container, .container-fluid {
    //position: relative; // interferes with spacing-top and bottom.
    width: 100%;
    padding: 0 1rem;
    margin: 0 auto;
}

.container {
    @include tablet {
        max-width: 720px;
        padding: 0;
    }

    @include desktop {
        max-width: 1200px;
    }

    @include ultra-wide {
        max-width: 1200px;
    }
}

.container-fluid {
    @include desktop {
        max-width: 1920px;
    }
}

.center {
    // this might cause issues with grids further down the track.
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text-align-center {
    text-align: center;
}

.text-align-start {
    text-align: start;
}

#primary {

}


