.center {
    text-align: center;
}

.btn-align-center {
    text-align: center;
}

.btn-align-start {
    text-align: start;
}

.text-align-center {
    text-align: center;
}

.text-align-start {
    text-align: start;
}

.img-margin-top {
    margin-top: 1rem;

    @include tablet {
        margin-top: 2rem;
    }
}
