.center {
    // this might cause issues with grids further down the track.
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    

    .umb-block-grid__layout-container {
        //Can i use this somehow?
    }
}

.text-align-center {
    text-align: center;
}

.text-align-start {
    text-align: start;
}
