.center {
    text-align: center;
}

.btn-align-center {
    text-align: center;
}

.btn-align-start {
    text-align: start;
}

.text-align-center {
    text-align: center;
}

.text-align-start {
    text-align: start;
}

.center-headline {
    text-align: center;

    @include desktop {
        h2 {
            padding: 0 25%;
        }
    }
}
