// This is styling for pages that list items. Includes: /projects, /projects/yourProjectNameHere, /service/yourServiceNameHere. --- DOES NOT INCLUDE: /service --- 

.list-page {
    .container {
        display: flex;
        flex-direction: column;
        max-height: 100%;

        @include tablet {
            flex-direction: row;
            max-width: 100%;
            padding: 2rem 2rem;
        }

        @include desktop {
            max-width: 1200px;
            padding: 2rem 0;
        }
        // This resets the width of the rich text-main element when an article has a date coming from the Model and not the rich text content.
        .article-wrapper {
            .rich-text-main {
                max-width: 100%;
            }

            .tag-wrapper {
                display: flex;
                align-items: first baseline;
                flex-wrap: wrap;

                h4 {
                    margin: 0 1rem 0 0;
                }

                a {
                    background-color: var(--color-accent);
                }
            }
        }
    }
}
