// Sets style for any rich text areas added via Modular page.

.rich-text-main {
    p:first-child {
        //hides the first p element which is a formatting tag for rich text.
    //    display: none;
    }

    figure {
        margin: 0;
        padding: 0;
    }

    img {
        border-radius: 4px;
        aspect-ratio: 3 / 2 !important;
        object-fit: cover;
        width: 100%;
        height: auto;

        @include tablet {
            margin: 2rem 0;
        }
    }

    img:first-child {
        @include tablet {
            margin-top: 0;
        }
    }

    span {
        margin: 0 0.5rem 0 0;
        color: var(--color-default);
    }

    blockquote {
        margin: 0 0 1rem;
    }
}
