// Sets style for any rich text areas added via Modular page.

.rich-text-main {
    max-width: 100%;

    figure {
        margin: 0;
        padding: 0;
    }

    img {
        border-radius: 4px;
        aspect-ratio: 3 / 2 !important;
        object-fit: cover;
        width: 100%;
        height: auto;
        margin: 1rem 0;

        @include tablet {
            margin: 2rem 0;
        }
    }

    img:first-child {
        @include tablet {
            margin-top: 0;
        }
    }

    p {
        padding-left: 0 !important;
    }

    span {
        margin: 0 0.5rem 0 0;
        color: var(--color-default);
        font-weight: 400 !important;
    }

    blockquote {
        margin: 0 0 1rem;
        padding: 0 1rem !important;

        @include tablet {
            padding: 0 !important;
        }
    }    
}
