section {
    max-width: 100%;
    margin: 0;
    padding: 0;
}

#hero {
    overflow-x: hidden;
}

//#about-us {
//    overflow-x: hidden;
//}

//#trusted-company {
//    overflow-x: hidden;
//}

//#our-services {
//    overflow-x: hidden;
//}

//#our-projects {
//    overflow-x: hidden;
//}