
////REMOVE THIS LATER
section {
    position: relative;
    max-width: 100%;
    margin: 0;
    padding: 0;
}

#hero {
    overflow-x: hidden;

    @include desktop {
        min-height: 550px;
    }
}

#about-us {
    @include desktop {
        min-height: 600px;
    }
}


//#trusted-company {
//    overflow-x: hidden;
//}

//#our-services {
//    overflow-x: hidden;
//}

//#our-projects {
//    overflow-x: hidden;
//}