// Sets styling for general sections.
section {
    //position: relative; // Needed to remove as it interfered witht the embedded google map and z-indexing.
    max-width: 100%;
    margin: 0;
    padding: 0;
    //z-index: 0;
}

// Sets specific styling for certain sections. Mainly for responsivity.

#hero {
    overflow-x: hidden;

    .container {
        @media (max-width: 1023px) {
            [data-content-element-type-alias="dynamicContainer"] {
                --umb-block-grid--item-column-span: 12 !important;
            }
        }
    }
}

#about-us {
    //overflow-x: unset;
    overflow-y: inherit;

    .container {
        @media (max-width: 1399px) {
            [data-content-element-type-alias="dynamicContainer"] {
                --umb-block-grid--item-column-span: 6 !important;
            }
        }

        // Sets the max- width for Tina fox signature.
        .image-formatting {
            img {
                max-width: 30%;

                @include tablet{
                    max-width: 150px;
                }
            }
        }
    }

    .form-wrapper {
        // Something in umbraco changes at 1024px so needed to use this media query here. --- Try to fix later ----.
        @media (min-width: 1024px) {
            position: absolute;
            z-index: 10;
            top: -10rem;
        }

        @include desktop {
            top: -10rem;
            right: 0;
        }
    }

    @include tablet {
        //max-height: 400px;
        min-height: 500px;
    }

    @include desktop {
        min-height: 600px;
    }
}