@using Umbraco.Cms.Web.Common.PublishedModels;

@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem>

@{
    var selection = Umbraco.Content(Guid.Parse("425d10f8-55b9-42a7-aa7b-d98e352433bc"))?
    .ChildrenOfType("projectItemTemplate")?
    .Where(x => x.IsVisible()).OrderByDescending(x => x.CreateDate).Take(4);  
}

<div class="recent-projects-wrapper">
    @if (selection != null)
    {
        foreach (var item in selection)
        {
            var link = item?.Url().TrimEnd("/");
            var image = item?.Value<IPublishedContent>("thumbnailImage")?.Url() ?? "";
            var datePublished = item?.Value<DateTime>("datePublished").ToString("MMMM dd, yyyy") ?? null;

            <a href="@link" class="projects-box">
                <div class="image-wrapper">
                    <img src="@image" alt="@item?.Name">
                </div>
                <div class="text-wrapper">
                    <h4>@item?.Name</h4>
                    <p class="date"><i class="fa-duotone fa-solid fa-calendar-days"></i>@datePublished</p>
                </div>
            </a>
        }
    }
</div>