@using Umbraco.Cms.Web.Common.PublishedModels;

@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem>

@{
    var blockquoteContent = Model?.Content.Value<string>("blockquoteContent") ?? "";
    var textAlign = (Model?.Content.Value<bool>("alignCenter") == true) ? "text-align-center" : "";    
    
    if (Model?.Content.Value<bool>("alignCenter") == false)
    {
        textAlign = (Model?.Content.Value<bool>("alignLeft") == true) ? "text-align-start" : "";
    }
}

@if(!string.IsNullOrEmpty(blockquoteContent))
{
    <blockquote class="@textAlign"><span>@blockquoteContent</span></blockquote>
}