@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;

@{
    var alignTextCenter = (Model?.Content.Value<bool>("alignTextCenter") == true ) ? "text-align-center" : "";
}

<div class="dynamic container @alignTextCenter">
    @await Html.GetBlockGridItemAreasHtmlAsync(Model)
</div>
