@using Umbraco.Cms.Web.Common.PublishedModels;

@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem>
@{
    var headingContent6 = Model?.Content.Value<string>("headingContent6") ?? null;
}

@if(!string.IsNullOrEmpty(headingContent6))
{
    <h6>@headingContent6</h6>
}