@using Umbraco.Cms.Web.Common.PublishedModels;

@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem>
@{
    var selection = Umbraco.Content(Guid.Parse("425d10f8-55b9-42a7-aa7b-d98e352433bc"))
    .ChildrenOfType("projectItemTemplate")
    .Where(x => x.IsVisible()).Take(4);
}

<div class="element-project-grid-container">
    @if (selection != null)
    {
        <span class="prev-slide"><i class="fa-solid fa-angle-left"></i></span>
        <span class="next-slide"><i class="fa-solid fa-angle-right"></i></span>

        foreach (var item in selection)
        {
            var link = item?.Url().TrimEnd("/");
            var image = item?.Value<IPublishedContent>("thumbnailImage")?.Url().ToString() ?? "";
            var preamble = item?.Value<string>("preamble") ?? "";
            var datePublished = item?.Value<DateTime>("datePublished").ToString() ?? "";
            var category = item?.Value<string>("category") ?? "";

            <div class="grid-box-wrapper">
                <a class="grid-box" href="@link">
                    <img src="@image" alt="@item?.Name">
                    <div class="text-box-bottom bg-primary">
                        <div class="text">
                            <span class="title">@item?.Name</span>
                            <p class="category">@category</p>
                        </div>
                        <div class="arrow-right">
                            <i class="fa-solid fa-angle-right"></i>
                        </div>
                    </div>
                </a>
            </div>
        }
    }
</div>

<script src="/scripts/projectCarousel.js"></script>