@using Umbraco.Cms.Web.Common.PublishedModels;

@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem>

@{
    var richTextContent = Model?.Content.Value("richTextContent") ?? null;
}

@if(richTextContent != null)
{
    <div class="rich-text-main">
        @richTextContent
    </div>
}