@using Umbraco.Cms.Web.Common.PublishedModels;

@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem>

@{
    var selection = Umbraco.Content(Guid.Parse("425d10f8-55b9-42a7-aa7b-d98e352433bc"))?
    .ChildrenOfType("projectItemTemplate")?
    .Where(x => x.IsVisible()).OrderBy(x => x.CreateDate);

    IEnumerable<string> tags = [];
    List<string> sortedTags = [];

    @if (selection != null)
    {
        foreach (var item in selection)
        {
            if (item != null)
            {
                tags = item?.Value<IEnumerable<string>>("projectTags")!;

                @foreach (string tag in tags!)
                {
                    string trimmedTag = tag.Trim();
                    if (!sortedTags.Any(t => t.Equals(trimmedTag, StringComparison.OrdinalIgnoreCase)))
                    {
                        sortedTags.Add(trimmedTag);
                    }
                }
            }
        }
    }
}

<div class="tag-wrapper">
    <h4>Tags</h4>
    <div class="tag-grid">
        @if (selection != null)
        {
            @foreach (string sortedTag in sortedTags)
            {
                var queryString = $"?tag={sortedTag}" ?? "";
                var url = $"/projects" + queryString;
                <a class="tag" href="@url">@sortedTag</a>
            }
        }
    </div>
</div>

