@using Umbraco.Cms.Web.Common.PublishedModels;

@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem>

@{
    @*Added a default image to be selected if no image is selected*@
    var selectedImage = Model?.Content?.Value<IPublishedContent>("selectedImage")?.Url().ToLower().Trim() ?? "/media/t2jgm5im/statisticadvisor1.png";
    var imageDescription = Model?.Content.Value<string>("imageDescription") ?? "";
}

<div class="about-us">
    <h4>About us</h4>
    <div class="image-wrapper">
        <img src="@selectedImage" alt="@imageDescription">
    </div>
    <p>Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non </p>
</div>