@using Umbraco.Cms.Web.Common.PublishedModels;

@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem>
@{
    var spanContent = Model?.Content.Value<string>("spanContent") ?? "";
    var textAlign = (Model?.Content.Value<bool>("alignCenter") == true) ? "text-align-center" : "";
    
    if (Model?.Content.Value<bool>("alignCenter") == false)
    {
        textAlign = (Model?.Content.Value<bool>("alignLeft") == true) ? "text-align-start" : "";
    }
}

@if(!string.IsNullOrEmpty(spanContent))
{
    <p class="@textAlign">@spanContent</p>
}