//----- THIS STYLING USED ON INDEX PAGE FOR PROJECTS SECTION

.element-project-grid-container {
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    position: relative;
    //width: 100%;
    //height: 768px !important;

    @include tablet {
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }

    @include desktop {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 0;
    }

    .grid-box-wrapper {
        width: 100%;
        height: 100%;
        aspect-ratio: 1 / 1 !important;
    }
    // Start of code to make carousel work.
    .carousel-item {
        position: absolute;
        top: 0;
        left: 0;

        @include tablet {
            position: relative;
        }
    }

    .hide-project {
        opacity: 0;
        transition: opacity 0.15s ease-out;

        @include tablet {
            opacity: 100%;
        }
    }

    .active-project {
        opacity: 100%;
        transition: opacity 0.3s ease-in;
    }

    .prev-slide, .next-slide {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 1000;
        display: block;
        background-color: #d5d1c2cc;
        background-color: #424946cc;
        width: 3.5rem;
        height: 3.5rem;
        border-radius: 50%;
        display: grid;
        align-items: center;
        justify-content: center;

        @include tablet {
            display: none;
        }
    }

    .fa-angle-left, .fa-angle-right {
        font-size: 2.5rem;
        color: var(--color-primary);
        color: var(--color-secondary);
    }

    .prev-slide {
        left: 1rem;
    }

    .next-slide {
        right: 1rem;
    }
    //end of code to make carousel

    .grid-box {
        position: relative;
        width: 100%; // to make sure text-box-bottom stretches the whole image.
        max-width: 100%;
        transition: 0.25s ease-out;
        overflow: hidden;

        img {
            transition: all 0.25s ease-out;
            max-width: 100%;
        }

        .text-box-bottom {
            position: absolute;
            bottom: 0;
            width: inherit;
            opacity: 60%;
            padding: 1rem;
            transition: 0.25s ease-out;
            display: flex;
            justify-content: space-between;

            .text {
                p, span {
                    font-size: 18px;
                    color: var(--color-light);
                }
            }

            .arrow-right {
                display: none;
            }
        }

        &:hover {
            img {
                transform: scale(106%, 106%);
                opacity: 50%;
                transition: all 0.25s ease-in;
            }

            .text-box-bottom {
                padding: 2rem 1rem;
                opacity: 100%;
                transition: 0.25s ease-in;

                .text {
                    span {
                        color: var(--color-secondary);
                    }
                }

                .arrow-right {
                    display: inline-block;
                    padding: 0.5rem 4rem 0 0;

                    i {
                        font-size: 40px;
                    }
                }
            }
        }
    }
}