//----- THIS STYLING USED ON INDEX PAGE FOR PROJECTS SECTION

.element-project-grid-container {
    display: grid;
    grid-template-columns: auto;
    justify-content: center;

    @include tablet {
        grid-template-columns: auto auto;
    }

    @include desktop {
        grid-template-columns: auto auto auto auto;
    }

    .grid-box {
        position: relative;
        width: 100%; // to make sure text-box-bottom stretches the whole image.
        max-width: 100%;

        img {
            transition: 0.25s ease-out;
            max-width: 100%;
        }

        .text-box-bottom {
            position: absolute;
            bottom: 0;
            width: inherit;
            opacity: 60%;
            padding: 1rem;
            transition: 0.25s ease-out;
            display: flex;
            justify-content: space-between;

            .text {
                p, span {
                    font-size: 18px;
                    color: var(--color-light);
                    opacity: 200%;
                }
            }

            .arrow-right {
                display: none;
            }
        }

        &:hover {

            img {
                // sort out a zoom function for the picture withut affeting the size of the box.
                opacity: 50%;
                transition: 0.25s ease-in;
            }

            .text-box-bottom {
                padding: 2rem 1rem;
                opacity: 100%;
                transition: 0.25s ease-in;

                .text {
                    span {
                        color: var(--color-secondary);
                    }
                }

                .arrow-right {
                    display: inline-block;
                    padding: 0.5rem 4rem 0 0;

                    i {
                        font-size: 40px;
                    }
                }
            }
        }
    }
}