.project-grid-container {
    .projects-box {
        // In the padding, the last value offsets for the vertical alignmen
        //of the .read-more element being offset from bottom roughly +4 px;
        padding: 1.5rem 0 calc(1.5rem - 4px);
        border-bottom: 1px solid var(--color-border-gray);

        @include tablet {
            display: flex;
        }

        @include desktop {
            padding: 2rem 0 0;
        }

        &:first-of-type {
            padding-top: 0;
        }

        &:last-of-type {
            border-bottom: none;
        }

        .image-wrapper {
            flex: 1;
            max-width: 100vw;

            @include desktop {
                max-width: 900px;
                max-height: 600px;
                margin: 0 0 2rem;
            }

            img {
                object-fit: cover;
                aspect-ratio: 4 / 3;
                overflow: hidden;
                border-radius: 4px 4px 0 0;


                @include tablet {
                    border-radius: 4px 0 0 4px;
                }
            }
        }

        .text-wrapper {
            flex: 1;
            display: grid;
            grid-template-rows: auto auto auto auto;
            padding: 1rem 0 0;

            @include tablet {
                padding: 0.5rem 1rem;
            }

            .ingress {
                padding: 0;
                font-size: 12px;

                @include tablet {
                    font-size: 14px;
                }

                @include desktop {
                    font-size: 16px;
                }
            }

            h4 {
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                margin: 0;
            }

            .read-more {
                margin: 0.5rem 0 0;

                @include tablet {
                    margin: initial;
                }
            }

            .fa-calendar-days {
                margin: 0 1rem 0 0;
            }

            .fa-arrow-right-long {
                margin: 0 1rem;
            }
        }

        &:hover {
            text-decoration: none;

            h4, .read-more {
                text-decoration: underline !important;
            }
        }
    }
}
