<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ad004f20-5109-4b39-9b1c-a97ed8dafa56" Alias="Card Item Block List" Level="1">
  <Info>
    <Name>Card Item Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "6408abe2-c4d3-40de-adf9-7a8cb2789fbe",
      "label": "Card Image Title"
    },
    {
      "contentElementTypeKey": "3844ae80-e33b-40fb-b7e6-fcaec9cd677c",
      "label": "Card Image Text Ingress"
    }
  ]
}]]></Config>
</DataType>