<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4f317dbc-278e-45e9-ab26-f7197e7f58b8" Alias="Contact Info Block Editor" Level="1">
  <Info>
    <Name>Contact Info Block Editor</Name>
    <EditorAlias>Umbraco.BlockGrid</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockGrid</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "a90375c3-62fc-4e32-b066-2f65f9310bc7",
      "allowAtRoot": true,
      "areas": [
        {
          "key": "476f89ab-be68-45d1-99fa-34f3b4ccbfe1",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ]
    }
  ],
  "gridColumns": 12
}]]></Config>
</DataType>