<?xml version="1.0" encoding="utf-8"?>
<DataType Key="33b8656d-ec68-4259-9e3e-1f87ddb4d3c2" Alias="Dynamic Container - Pad Content - Radio Button" Level="1">
  <Info>
    <Name>Dynamic Container - Pad Content - Radio Button</Name>
    <EditorAlias>Umbraco.RadioButtonList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.RadioButtonList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Pad Right",
    "Pad Left",
    "Pad None"
  ]
}]]></Config>
</DataType>