<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5b2a4b77-7378-421b-a52b-06d5a20f3c78" Alias="Form - Form Content - Block List" Level="1">
  <Info>
    <Name>Form - Form Content - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "565eb9d9-b49d-428a-9555-85637dfd5e2d",
      "label": "InputText {=uniqueName}"
    },
    {
      "contentElementTypeKey": "a83b28fe-5169-4c73-a29f-14a24238c197",
      "label": "InputPassword {=uniqueName}"
    },
    {
      "contentElementTypeKey": "27f29806-e1f4-44d2-bc58-f4e9c6043d82",
      "label": "InputTextArea {=uniqueName}"
    },
    {
      "contentElementTypeKey": "f2d0a4e9-19a9-42ec-b407-7d59dd576ace",
      "label": "Button {=uniqueName}"
    }
  ]
}]]></Config>
</DataType>