<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a4f27fb0-299a-423e-8210-7da5daa6018c" Alias="InputText - Input Type" Level="1">
  <Info>
    <Name>InputText - Input Type</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "text",
    "email",
    "tel"
  ]
}]]></Config>
</DataType>