<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0a69cdae-7a62-4dcf-bde6-e4affe59cb3c" Alias="Item Template - Place Sidebar To Left" Level="1">
  <Info>
    <Name>Item Template - Place Sidebar To Left</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Toggle</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "default": true
}]]></Config>
</DataType>