<?xml version="1.0" encoding="utf-8"?>
<DataType Key="702706ae-9423-4c97-97a7-c844c8078928" Alias="Modular Page - Layout" Level="1">
  <Info>
    <Name>Modular Page - Layout</Name>
    <EditorAlias>Umbraco.BlockGrid</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockGrid</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blockGroups": [
    {
      "key": "83c58320-762b-4cde-b642-8aac448704a1",
      "name": "Containers"
    },
    {
      "key": "747e346c-60bd-41da-b786-960578cc8baf",
      "name": "Custom sections"
    },
    {
      "key": "0b185706-04f4-458c-8df6-a41b22cf74e9",
      "name": "Content"
    },
    {
      "name": "Form",
      "key": "a0c49767-5077-4c3a-acaf-78b0f5ef2f27"
    },
    {
      "name": "Maps",
      "key": "a142b978-c8e9-4503-85c4-d295493fe04a"
    }
  ],
  "blocks": [
    {
      "contentElementTypeKey": "d3378855-582e-4417-ab21-6c3d07618ea1",
      "allowAtRoot": false,
      "groupKey": "747e346c-60bd-41da-b786-960578cc8baf",
      "label": "service cards",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "cc39463a-e1ce-4b4a-8ad5-48d96885ced9",
      "allowAtRoot": false,
      "groupKey": "747e346c-60bd-41da-b786-960578cc8baf",
      "allowInAreas": true,
      "label": "social media item"
    },
    {
      "contentElementTypeKey": "535fa12b-f02d-46ac-b06e-5e2a8b8ea981",
      "allowAtRoot": false,
      "groupKey": "747e346c-60bd-41da-b786-960578cc8baf",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "a674e453-72e9-4533-a44a-4d4d3ac796c6",
      "allowAtRoot": false,
      "groupKey": "747e346c-60bd-41da-b786-960578cc8baf",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "a90375c3-62fc-4e32-b066-2f65f9310bc7",
      "allowAtRoot": true,
      "groupKey": "747e346c-60bd-41da-b786-960578cc8baf",
      "allowInAreas": true,
      "areas": []
    },
    {
      "contentElementTypeKey": "f59685aa-b1b8-40d1-bc6c-15da258d1031",
      "allowAtRoot": false,
      "groupKey": "83c58320-762b-4cde-b642-8aac448704a1",
      "label": "container",
      "allowInAreas": true,
      "areas": [
        {
          "key": "e163d0e3-3229-4894-a823-fd9e775cbdd0",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ]
    },
    {
      "contentElementTypeKey": "3b7f7bcd-1340-44f6-bc95-2e649fb11837",
      "allowAtRoot": false,
      "groupKey": "83c58320-762b-4cde-b642-8aac448704a1",
      "label": "dynamic container",
      "allowInAreas": true,
      "columnSpanOptions": [
        {
          "columnSpan": 1
        },
        {
          "columnSpan": 2
        },
        {
          "columnSpan": 3
        },
        {
          "columnSpan": 4
        },
        {
          "columnSpan": 5
        },
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 7
        },
        {
          "columnSpan": 8
        },
        {
          "columnSpan": 9
        },
        {
          "columnSpan": 10
        },
        {
          "columnSpan": 11
        },
        {
          "columnSpan": 12
        }
      ],
      "areas": [
        {
          "key": "def0c544-4637-407c-b8dc-78f219c86606",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ]
    },
    {
      "contentElementTypeKey": "f4644bbb-8c91-448d-9247-80656242391d",
      "allowAtRoot": true,
      "groupKey": "83c58320-762b-4cde-b642-8aac448704a1",
      "label": "section full width **{=sectionTitle}**",
      "areas": [
        {
          "key": "fee99e7f-6ae3-4517-b2c1-b9d38161bc9a",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ]
    },
    {
      "contentElementTypeKey": "4e6bc8d3-1c03-48f8-8146-b0962e2185c0",
      "allowAtRoot": true,
      "groupKey": "83c58320-762b-4cde-b642-8aac448704a1",
      "label": "section **{=sectionTitle}**",
      "areas": [
        {
          "key": "786adbee-6477-49f8-8474-43b9e36050e0",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ]
    },
    {
      "contentElementTypeKey": "a66f9f8b-c3fb-477e-9253-6cd53af8d1fd",
      "allowAtRoot": false,
      "groupKey": "747e346c-60bd-41da-b786-960578cc8baf",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "380bae07-dd48-43c7-80ee-32c843f9c11f",
      "allowAtRoot": false,
      "groupKey": "0b185706-04f4-458c-8df6-a41b22cf74e9",
      "label": "button link **{=buttonLinkText}**",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "e2b9d45a-46a8-4eaf-b376-34429e1cb27e",
      "allowAtRoot": true,
      "groupKey": "0b185706-04f4-458c-8df6-a41b22cf74e9",
      "allowInAreas": true,
      "label": "heading1 **{=headingContent1}**"
    },
    {
      "contentElementTypeKey": "f95a5b94-5aa0-48ab-8b43-89ac32d6d18c",
      "allowAtRoot": false,
      "groupKey": "0b185706-04f4-458c-8df6-a41b22cf74e9",
      "label": "heading2 **{=headingContent2}**",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "b987de3f-f175-4215-8e1c-3bf2a27280f1",
      "allowAtRoot": false,
      "groupKey": "0b185706-04f4-458c-8df6-a41b22cf74e9",
      "label": "heading3 **{=headingContent3}**",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "6408abe2-c4d3-40de-adf9-7a8cb2789fbe",
      "allowAtRoot": true,
      "groupKey": "0b185706-04f4-458c-8df6-a41b22cf74e9",
      "label": "heading4 **{=headingContent4}**"
    },
    {
      "contentElementTypeKey": "e5f1eb37-ff06-48cb-a2dd-65aea06074e7",
      "allowAtRoot": false,
      "groupKey": "0b185706-04f4-458c-8df6-a41b22cf74e9",
      "label": "heading5 **{=headingContent5}**",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "4a701cd3-c369-49c3-b4fd-d4b6d62cb28f",
      "allowAtRoot": false,
      "groupKey": "0b185706-04f4-458c-8df6-a41b22cf74e9",
      "allowInAreas": true,
      "label": "heading6 **{=headingContent6}**"
    },
    {
      "contentElementTypeKey": "61caaaf9-a3f5-45a8-8a3c-91da951b11a9",
      "allowAtRoot": false,
      "groupKey": "0b185706-04f4-458c-8df6-a41b22cf74e9",
      "allowInAreas": true,
      "label": "block quote **{=blockQuoteContent}**"
    },
    {
      "contentElementTypeKey": "6c3b8725-171d-48fd-b80c-78c482f8b32e",
      "allowAtRoot": false,
      "groupKey": "0b185706-04f4-458c-8df6-a41b22cf74e9",
      "columnSpanOptions": [
        {
          "columnSpan": 1
        },
        {
          "columnSpan": 2
        },
        {
          "columnSpan": 3
        },
        {
          "columnSpan": 4
        },
        {
          "columnSpan": 5
        },
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 8
        },
        {
          "columnSpan": 7
        },
        {
          "columnSpan": 9
        },
        {
          "columnSpan": 10
        },
        {
          "columnSpan": 12
        },
        {
          "columnSpan": 11
        }
      ],
      "allowInAreas": true,
      "areas": [
        {
          "key": "dd831ffe-ae9a-444f-b9ec-5948289c1296",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ]
    },
    {
      "contentElementTypeKey": "3844ae80-e33b-40fb-b7e6-fcaec9cd677c",
      "allowAtRoot": false,
      "groupKey": "0b185706-04f4-458c-8df6-a41b22cf74e9",
      "label": "paragraph **{=paragraphContent}**",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "5fd8a16f-d98a-4c16-b3c2-87d7161eee2f",
      "allowAtRoot": false,
      "groupKey": "0b185706-04f4-458c-8df6-a41b22cf74e9",
      "label": "span **{=spanContent}**",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "031cfa19-985e-41b2-8545-b8d8f8ed4f5c",
      "allowAtRoot": false,
      "groupKey": "0b185706-04f4-458c-8df6-a41b22cf74e9",
      "allowInAreas": true,
      "label": "img"
    },
    {
      "contentElementTypeKey": "8994c2e7-7a3f-45ed-9351-1f5dcc5a1011",
      "allowAtRoot": false,
      "groupKey": "0b185706-04f4-458c-8df6-a41b22cf74e9",
      "allowInAreas": true,
      "label": "reviewStars count: **{=addStars} stars** "
    },
    {
      "contentElementTypeKey": "e1b40d77-8d64-4489-b9cb-cad1b8338aa6",
      "allowAtRoot": false,
      "groupKey": "747e346c-60bd-41da-b786-960578cc8baf",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "601ec785-30e1-45b5-9982-6a4b0c9aede8",
      "allowAtRoot": false,
      "groupKey": "a0c49767-5077-4c3a-acaf-78b0f5ef2f27",
      "allowInAreas": true,
      "label": "",
      "areas": []
    }
  ],
  "gridColumns": 12
}]]></Config>
</DataType>