<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1dd5e43d-ab93-4fa6-900a-a551bb08681f" Alias="Project Item Template - Sidebar Block Editor" Level="1">
  <Info>
    <Name>Project Item Template - Sidebar Block Editor</Name>
    <EditorAlias>Umbraco.BlockGrid</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockGrid</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blockGroups": [
    {
      "name": "Sidebar Div",
      "key": "f6778ff0-7e42-4473-9e25-6809ceff1e9f"
    },
    {
      "name": "Sidebar Content",
      "key": "5e425c49-845f-4656-98f9-b5eb4c46e83e"
    }
  ],
  "blocks": [
    {
      "contentElementTypeKey": "17b058aa-a21d-43d6-bc34-a1a7146bbade",
      "allowAtRoot": true,
      "groupKey": "f6778ff0-7e42-4473-9e25-6809ceff1e9f",
      "areas": [
        {
          "key": "83363db2-b5f4-40c2-900b-6ad6e9b09ae1",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ]
    },
    {
      "contentElementTypeKey": "f066e493-9d0a-4a30-95a8-c2514f873868",
      "allowAtRoot": false,
      "groupKey": "5e425c49-845f-4656-98f9-b5eb4c46e83e",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "9d93a0db-815b-417c-aaf9-40f53792cd22",
      "allowAtRoot": false,
      "groupKey": "5e425c49-845f-4656-98f9-b5eb4c46e83e",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "0b37808f-f175-455b-9028-3f7c22df16fa",
      "allowAtRoot": false,
      "groupKey": "5e425c49-845f-4656-98f9-b5eb4c46e83e",
      "allowInAreas": true
    }
  ],
  "gridColumns": 12
}]]></Config>
</DataType>