<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0d77d9a3-0bd5-4677-85fd-edb1cf932918" Alias="Project Item DropDown Category" Level="1">
  <Info>
    <Name>Project Item DropDown Category</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Financial Services",
    "Tax Services",
    "Damages and Litigation",
    "Human resources",
    "Leadership Consultation"
  ]
}]]></Config>
</DataType>