<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d04fc943-23c2-4acc-b763-caf3c9500987" Alias="Project List Page - Sidebar Block Editor" Level="1">
  <Info>
    <Name>Project List Page - Sidebar Block Editor</Name>
    <EditorAlias>Umbraco.BlockGrid</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockGrid</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blockGroups": [
    {
      "name": "Sidebar Div",
      "key": "7e483c9d-ba9a-4ccb-9b6d-7fbe77bb158a"
    },
    {
      "name": "Sidebar Content",
      "key": "21d1e57a-f82e-4cc4-ac19-2971b2fe5c11"
    }
  ],
  "blocks": [
    {
      "contentElementTypeKey": "17b058aa-a21d-43d6-bc34-a1a7146bbade",
      "allowAtRoot": true,
      "groupKey": "7e483c9d-ba9a-4ccb-9b6d-7fbe77bb158a",
      "areas": [
        {
          "key": "f6597a7d-ef55-4565-9b8f-cb8787c3d01a",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ]
    },
    {
      "contentElementTypeKey": "f066e493-9d0a-4a30-95a8-c2514f873868",
      "allowAtRoot": false,
      "groupKey": "21d1e57a-f82e-4cc4-ac19-2971b2fe5c11",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "9d93a0db-815b-417c-aaf9-40f53792cd22",
      "allowAtRoot": false,
      "groupKey": "21d1e57a-f82e-4cc4-ac19-2971b2fe5c11",
      "allowInAreas": true
    }
  ],
  "gridColumns": 12
}]]></Config>
</DataType>