<?xml version="1.0" encoding="utf-8"?>
<DataType Key="07066c5a-243c-4576-a4fc-687276ea3947" Alias="Review Stars - Dropdown" Level="1">
  <Info>
    <Name>Review Stars - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "1",
    "2",
    "3",
    "4",
    "5"
  ]
}]]></Config>
</DataType>