<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2d70dbea-706f-44bf-b28a-6813871a97a3" Alias="Section - Approved Background Color" Level="1">
  <Info>
    <Name>Section - Approved Background Color</Name>
    <EditorAlias>Umbraco.ColorPicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.ColorPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    {
      "value": "171717",
      "label": "Dark"
    },
    {
      "value": "4f5955",
      "label": "Primary"
    },
    {
      "value": "d9c3a9",
      "label": "Secondary"
    },
    {
      "value": "f2eddc",
      "label": "Accent"
    },
    {
      "value": "f7f7f7",
      "label": "Gray"
    },
    {
      "value": "FFFFFF",
      "label": "Light"
    },
    {
      "value": "ffffff",
      "label": "None"
    }
  ],
  "useLabel": true
}]]></Config>
</DataType>