<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d774deec-8671-4e6f-9a52-20bce03ebfc8" Alias="Service Item Template - Contact Form" Level="1">
  <Info>
    <Name>Service Item Template - Contact Form</Name>
    <EditorAlias>Umbraco.BlockGrid</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockGrid</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "601ec785-30e1-45b5-9982-6a4b0c9aede8",
      "allowAtRoot": true
    }
  ],
  "gridColumns": 12
}]]></Config>
</DataType>