<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c80f6a6d-c65a-48cf-a264-84d57e271bff" Alias="Service Item Template - Sidebar Block Editor" Level="1">
  <Info>
    <Name>Service Item Template - Sidebar Block Editor</Name>
    <EditorAlias>Umbraco.BlockGrid</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockGrid</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blockGroups": [
    {
      "key": "89b96a77-0798-4adc-b9a8-c8aaf1c4630a",
      "name": "Sidebar Container"
    },
    {
      "name": "Sidebar Content",
      "key": "dfa537f1-6d5e-46d3-94fe-4b6147f4c22f"
    }
  ],
  "blocks": [
    {
      "contentElementTypeKey": "17b058aa-a21d-43d6-bc34-a1a7146bbade",
      "allowAtRoot": true,
      "groupKey": "89b96a77-0798-4adc-b9a8-c8aaf1c4630a",
      "allowInAreas": false,
      "label": "sidebar **{=sidebarBackgroundColor}**",
      "areas": [
        {
          "key": "b8b188d8-ff43-4dd9-a4c2-68c58602efec",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ]
    },
    {
      "contentElementTypeKey": "9d93a0db-815b-417c-aaf9-40f53792cd22",
      "allowAtRoot": false,
      "label": "",
      "allowInAreas": true,
      "groupKey": "dfa537f1-6d5e-46d3-94fe-4b6147f4c22f",
      "areas": []
    },
    {
      "contentElementTypeKey": "0a25ac18-2d7d-4685-bdf1-45b8badb11ef",
      "allowAtRoot": false,
      "groupKey": "dfa537f1-6d5e-46d3-94fe-4b6147f4c22f",
      "allowInAreas": true,
      "areas": []
    }
  ],
  "gridColumns": 12
}]]></Config>
</DataType>