<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0489b0da-bb9a-4cfb-98d9-efb18f6c8541" Alias="Settings Page - Social Media Information" Level="1">
  <Info>
    <Name>Settings Page - Social Media Information</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "cc39463a-e1ce-4b4a-8ad5-48d96885ced9",
      "label": "**{=platformName}** - {=platformAccountUrl}"
    }
  ]
}]]></Config>
</DataType>