<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d4bf93fa-4b61-4b13-ac2d-74f81b18dc9b" Alias="Settings Page - Site Favicon Picker" Level="1">
  <Info>
    <Name>Settings Page - Site Favicon Picker</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MediaPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "filter": "4c52d8ab-54e6-40cd-999c-7a5f24903e4d",
  "validationLimit": {}
}]]></Config>
</DataType>