<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a16e6002-3e0e-45a9-a354-8e18fd77f89e" Alias="Social Media Dropdown list" Level="1">
  <Info>
    <Name>Social Media Dropdown list</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Facebook",
    "Instagram",
    "X (formerly twitter)",
    "TikTok",
    "LinkedIn",
    "Snapchat",
    "Youtube"
  ]
}]]></Config>
</DataType>