<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6b4f41a9-0bf2-4239-aeca-1feb34c4dbfd" Alias="Staff Item Template - Staff Role - Dropdown" Level="1">
  <Info>
    <Name>Staff Item Template - Staff Role - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "CEO",
    "CFO",
    "Head of HR",
    "Financial Advisor",
    "Business Specialist",
    "Banking Advisor",
    "HR",
    "Co-Founder"
  ],
  "multiple": true
}]]></Config>
</DataType>