<?xml version="1.0" encoding="utf-8"?>
<DataType Key="815b3f0f-4924-4bee-9156-8b46095d8553" Alias="Staff Item Template - Company - Dropdown" Level="1">
  <Info>
    <Name>Staff Item Template - Company - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Onatrix",
    "Swedbank",
    "Handelsbanken",
    "Avanza",
    "Skandia",
    "SBAB"
  ]
}]]></Config>
</DataType>